[2014-01-06 10:34] Arnavion opened #1 "Scope SVG filter IDs to renderer instance"
- DefaultRenderer needs to have an autogenerated ID.
- Renderer needs to prepend it to the generated filter ID.

[2014-01-06 10:40] Arnavion opened #2 "Support .srt"
Either:
- Same way as VSFilter - pretend it's an ASS.
  - Add a type parameter to ASS.fromString to select between ASS and SRT.
  - Implement via default script properties and style.
  - SRT doesn't specify resolution, it uses video resolution.
  - Map SRT formatting to ASS parts.
  - Partial implementation in [this branch](https://github.com/Arnavion/libjass/commits/srt) - [diff](https://github.c

[2014-01-06 10:42] Arnavion opened #3 "Implement \be"
https://github.com/Cyberbeing/xy-VSFilter/blob/48eeccaf9243329451235826d5cc06a0712d1596/src/subtitles/Rasterizer.cpp#L711

[2014-01-06 10:44] Arnavion opened #4 "Implement shadows"
- \4c
- \4a

[2014-01-07 04:21] Arnavion opened #5 "Add NullRenderer.disable() and NullRenderer.enable() to toggle subs"
Also an enabled property, and .toggle() to toggle.

[2014-01-09 17:54] Arnavion opened #6 "Add license header to jakelib/*"

[2014-01-11 01:23] Arnavion opened #7 "ASS draw scale is calculated incorrectly"
The drawing should be scaled to `1 / Math.pow(2, this._drawingScale - 1)` instead of `1 / this._drawingScale`

[2014-01-11 03:16] #6 closed, assigned to Arnavion

[2014-01-11 03:16] #7 closed, assigned to Arnavion

[2014-01-15 23:10] #1 closed, assigned to Arnavion

[2014-01-15 23:30] Arnavion opened #8 "Fix some names"
Style.OutlineWidth -> OutlineThickness
{parts, SpanStyles}.OutlineWidthX -> OutlineWidth
{parts, SpanStyles}.OutlineWidthY -> OutlineHeight

[2014-01-15 23:58] #4 closed, assigned to Arnavion

[2014-01-15 23:58] #8 closed, assigned to Arnavion

[2014-01-16 00:06] Arnavion opened #9 "Support all Style parameters"
http://docs.aegisub.org/manual/Styles

SecondaryColour - Karaoke
Angle - ?
BorderStyle - 1 for normal outlines, 3 for "opaque box"

[2014-01-23 01:22] Arnavion opened #10 "Support all script properties"
http://docs.aegisub.org/manual/Properties

WrapStyle
ScaledBorderAndShadow

[2014-01-29 00:34] Arnavion opened #11 "Replace DefaultRenderer._{add,remove}Class with element.classList"
https://developer.mozilla.org/en-US/docs/Web/API/element.classList

[2014-01-29 09:19] #11 closed, assigned to Arnavion

[2014-02-05 23:52] Arnavion opened #13 "Investigate canvas/WebGL renderers"
- Kinect.js - Canvas renderer. Contains text metrics support already. [Tutorials](http://www.html5canvastutorials.com/kineticjs/html5-canvas-kineticjs-text-tutorial/) | [Source](https://github.com/ericdrowell/KineticJS/blob/master/src/shapes/Text.js)
- pixi.js - Combination canvas and WebGL renderer. [Tutorials](http://www.goodboydigital.com/pixi-js-tutorial-getting-started/) | [HN](https://news.y

[2014-02-09 01:09] #9 closed, assigned to Arnavion

[2014-02-09 01:43] #10 closed, assigned to Arnavion

[2014-02-11 07:31] Arnavion opened #14 "Rotation"
- Partial implementation in [this branch](https://github.com/Arnavion/libjass/commits/new-rotation) - [diff](https://github.com/Arnavion/libjass/compare/master...new-rotation)
- Rotation is always applied in the order Y-X-Z
- Rotations apply from the point where they're defined till the end of the line or till they're redefined. However, a redefined rotation is always measured from the zero of the

[2014-02-23 09:32] #5 closed, assigned to Arnavion

[2014-03-03 22:51] Arnavion opened #15 "Fix fscx-clipping"
fscx scaling via `transform: scaleX(...)` causes the scaled text to clip its neighbors. One alternative is to do the following transformation:

Given:

[code]

Transform to:

[code]

and drop the `scaleX(...)`

~~The problem is that lines like `{\fs12\fscx1000\fscy100}` (f = 12, x = 10, y = 1 => f = 120, x = 1, y = 0.1) will end up having a line height of 120px; the 0.1 vertical scaling will not a

[2014-03-05 05:30] #2 closed, assigned to Arnavion

[2014-03-06 08:43] #15 closed, assigned to Arnavion

[2014-04-26 22:30] #3 closed, assigned to Arnavion

[2014-07-08 04:07] rcombs opened #16 "Provide a simple API to parse streamed data (e.g. from XHR)"
This would make a scenario where subtitles are being generated during playback (i.e. live or live-transcoded streams) much easier.

[2014-08-16 22:01] SunnyLi opened #18 "dist and bower"
Any chance that you'll create a bower package or check in the compiled `libjass.js` and `libjass.css`?

libjass is more front-end centric and having a compiled version of the essential files will simplify dependency management of other front-end projects using libjass.

Checking in the compiled files for every new tag/release would be great.

Thanks

[2014-08-17 00:33] #18 closed, assigned to nobody

[2014-08-17 04:34] #16 closed, assigned to nobody

[2014-08-21 04:26] fb39ca4 opened #19 "Allow libjass to work locally without a web server."
The demo gives the error "NS_ERROR_DOM_BAD_URI: Access to restricted URI denied" when making XHR requests in Firefox when opening the page locally.

[2014-08-21 06:04] #19 closed, assigned to nobody

[2014-09-17 00:45] Dador opened #20 ""Outline" style issue in Chrome"
Outline looks pretty wrong/ugly after Chrome update. Probably that caused by new way of rendering fonts in Chrome (now chrome uses Direct Write as I understand).

Screenshot (in Chrome):
![chrome test](https://cloud.githubusercontent.com/assets/974924/4297044/53997bc0-3e03-11e4-9eca-df1a00c29ec4.png)
Screenshot (in Firefox):
![firefox test](https://cloud.githubusercontent.com/assets/974924/4297046

[2014-09-17 10:51] #20 closed, assigned to nobody

[2014-10-07 02:23] Arnavion opened #21 "Renderer tests"
- ~~A renderer decoupled from &lt;video&gt;~~ - WebRenderer
- ~~A clock decoupled from &lt;video&gt;~~ - ManualClock
- A test framework that can load a minimal page with libjass.js, a single div, and the test JS, then take screenshots.
    - PhantomJS - Doesn't support 3D CSS transforms.
    - Selenium - Requires browser plugins and Java. Hosted service provided by https://saucelabs.com/

WIP [her

[2014-10-29 09:19] weizhenye opened #22 "Font size problem"
Hello, I'm the author of [ASS.js](https://github.com/weizhenye/ASS) and I have a [problem](http://forum.aegisub.org/viewtopic.php?f=10&t=68228) about font size. Do you have the same problem? How do you solve it?

[2014-10-29 10:38] #22 closed, assigned to nobody

[2014-10-29 20:12] rcombs opened #23 "Support `catch` in `Promise` shim"
For compatibility with the official API (and browsers' native implementations). I _think_ this should be a couple extra prototypes in the interface section and a 1-line wrapper function.

[2014-10-30 02:45] #23 closed, assigned to nobody

[2014-11-02 09:39] Arnavion opened #24 "SimplePromise fails Promises/A+ tests"
https://promisesaplus.com/

https://github.com/promises-aplus/promises-tests/

[2014-11-02 12:24] #24 closed, assigned to Arnavion

[2014-11-02 12:38] Arnavion opened #25 "Make a changelog"

[2014-11-02 13:43] Arnavion opened #26 "Handle fast-forward / slow videos (playbackRate !== 1)"
- Static subs are unaffected
- Subs with animations will need to be recalculated on every [ratechange event.](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Media_events)
- Clock interface will need a new getter, `rate: number`, and ManualClock will need a setter `setRate(rate: number)`

[2014-11-09 01:38] #25 closed, assigned to Arnavion

[2014-11-10 11:29] Arnavion opened #27 "Don't always invalidate pre-rendered dialogues on resize / ratechanged"
- Store two more pieces of metadata with each pre-rendered sub - whether it has size-related values, and whether it has time-related values. This includes animations.
- On resize, only clear those pre-rendered subs (and their associated animations) that have size-related values.
- On ratechange, only clear those pre-rendered subs (and their associated animations) that have time-related values.

[2014-11-10 12:04] #26 closed, assigned to Arnavion

[2014-11-13 18:01] rcombs opened #28 "Handle unexpectedly short color values"
See libass's string2color: https://github.com/libass/libass/blob/master/libass/ass_utils.c#L170
This effectively means assuming missing digits at the start are 0. There are all sorts of weird nuances of color parsing, but this one's pretty common as ffmpeg outputs it:

[code]

[2014-11-13 22:52] rcombs opened #30 "Newlines don't work depending on… something"
This works:

[code]

This does not:

[code]

It produces output like this: ![](http://puu.sh/cPEdR/1afa5722d4.png)
It looks like a number of style attributes don't output.

[2014-11-15 05:23] #28 closed, assigned to nobody

[2014-11-18 08:07] #30 closed, assigned to nobody

[2014-11-18 08:20] Arnavion opened #31 "Remove index.xhtml instructions from BUILD.md"
... and move the custom font instructions to the JSDoc on [RendererSettings.makeFontMapFromStyleElement](http://arnavion.github.io/libjass/api.xhtml#libjass.renderers.RendererSettings.makeFontMapFromStyleElement)

[2014-11-27 07:04] #27 closed, assigned to Arnavion

[2014-11-27 07:48] #31 closed, assigned to Arnavion

[2015-01-03 16:55] xtsss opened #32 "Chrome - fullscreen subtitles are not in right position. (video-js)"
When going fullscreen on chrome, subtitles moves, are not visible or are in wrong position, on firefox everything works ok.
https://github.com/SunnyLi/videojs-ass/issues/1

[2015-01-03 17:01] Dador commented on #32
What is your chrome version?

Fullscreen on your link works fine for me.
Chrome 39.0.2171.95 m (last stable)
![fullscreen_subtitles](https://cloud.githubusercontent.com/assets/974924/5603049/1648f806-9383-11e4-8eb1-4d62f651b582.png)

[2015-01-03 17:07] xtsss commented on #32
ok, i checked it, it happens when you set default zoom page for example 125%, zoom page to 125% and you will see that default is ok but fs is not ok, maybe it is also in firefox cause in firefox i had it without zoom.

[2015-01-03 23:03] Arnavion commented on #32
This is a bug in videojs-ass. On going fullscreen, it tells the renderer to resize to (screen.width, screen.height). This does not take browser zoom into account.

Eg: If I have a 1920x1200 monitor and the browser is zoomed to 200%, the fullscreen video element (iframe) is 960x600. However screen.width and screen.height continue to be 1920x1200 since they are measured in device pixels, not viewpor

[2015-01-03 23:03] #32 closed

[2015-01-03 23:06] Arnavion commented on #32
(DefaultRenderer also has this bug, but videojs-ass doesn't use it so it's not relevant here.)

[2015-01-26 09:42] ChristianMcQuilkin commented on #13
There's also three.js

[2015-01-26 09:49] ChristianMcQuilkin commented on #32
in reply to this, the only way i was able to fix this problem was to make the player responsive and have libass.css size up to the responsiveness of the player by making the wrapper wrap around the full layer of the player.

IT will work when you zoom out (to a certain degree) and will resize on phones. (subtitles will be all the way at the bottom when in portrait view)

[2015-01-26 10:52] ChristianMcQuilkin commented on #14
What about this? - http://jsfiddle.net/ag5dQ/5/ create a second rotation for it to align.

[2015-01-26 17:08] Arnavion commented on #14
@ChristianMcQuilkin

The inner blue in the third diagram is supposed to look exactly like the inner blue in the first and second diagrams. The inner rectangle is meant to cancel the rotation of its parent, but this cannot be done in the browser CSS model. The parent has -60deg and the child has +60deg - in libass / VSFilter this would result in the child looking exactly as if the child had no *net

[2015-01-26 17:37] Arnavion commented on #32
@ChristianMcQuilkin Can you elaborate? Do you mean you put the video element inside the `.libjass-wrapper` wrapper, or the `.libjass-subs` wrapper? How do you call renderer.resize when going in and out of fullscreen?

[2015-01-26 20:28] ChristianMcQuilkin commented on #14
AHHHHH now I see... cant believe i missed that, I'll take a look at that and get back to you with something.

[2015-01-26 21:13] ChristianMcQuilkin commented on #32
I'm basing this off of video-js-ass
What i did was made videojs and vjs-tech relative and have an auto height.

Then i'd have libjass wrapper have a
`width: 100%;
height: 100% !important;
top: 0;`

i would also have the libjass-subs wrap around too.

Just take a look here: and look for the differences:
http://anime.genenx.squidix.me/assets/css/libjass.css

Go here for the test:
http://anime.genenx

[2015-01-26 21:41] ChristianMcQuilkin commented on #14
@Arnavion

but for the last element you are using RotateY not Rotate like the other elements

[2015-01-26 22:29] Arnavion commented on #14
Let me explain what my jsfiddle is meant to show.

The first diagram has two rectangles, a yellow and a blue. No rotation is applied to either of them.

The second diagram applies a +60deg Z-rotation to the yellow rectangle. This has the effect of rotating the yellow rectangle and its child the blue rectangle both by +60deg from the observer's standpoint. Next, a -60deg Z-rotation is applied on th

[2015-01-27 00:22] ChristianMcQuilkin commented on #14
hmm then i dont see anything i can do about that there >_> - Without rotating back to the origin the only thing i was able to do was have it scale by 2 using ScaleX

http://jsfiddle.net/ag5dQ/7/

[2015-01-27 01:22] Arnavion commented on #14
Correct. The point is that a simple transform like rotateY is insufficient for child rotations. One would have to write a transform matrix that take parent rotations into account - such a matrix would include both skew/rotation and potentially translational components and is harder to calculate.

[2015-01-27 07:53] Arnavion commented on #32
I see. That is not correct, unfortunately. Setting width and height to 100% will break with full-screen letterboxed video. For example on your test page, notice how the relative position of the subs is wrong:

Regular:
![image](https://cloud.githubusercontent.com/assets/1096010/5915062/51fa359c-a5b5-11e4-9c2b-331a7140029e.png)

Full-screen - the subs are outside the video, and no margins are being

[2015-01-29 11:06] maxx1985 opened #33 "Better Example"
Hi, i'm relatively new to Javascript, i've seen the ''online demo'', it works fine, but the script is too complex to understand and edit, is it possible a simple ''hello world script''?
Something like:
-script-
  var video = VIDEO_URL
  var sub = ASS_URL
  //SOME CODE TO RUN LIBJASS on idvideo
-/script-
-video id='idvideo'- -/video-

Thanks for attention

[2015-01-29 16:12] Anime4000 commented on #33
You can take a look on my example:
https://kwikmandarin.net/content/demo/html5-ass/index3.html

simply see Source Script :+1:

[2015-01-29 18:00] Arnavion commented on #33
Yes, it could do with some more comments. Meanwhile:

1. Use the ASS URL to fetch the ASS object.

[code]

    Note that this is a Promise, i.e., an async operation.

1. Get a reference to the video element.

[code]

1. Use DefaultRenderer to render subs.

[code]

[2015-01-29 23:29] maxx1985 commented on #33
It works!!! Nice! Thanks a lot for the exaustive explanation!

the code that worked for me is the ''basic one''
[code]
[code]
[code]

Thanks also to Anime4000 i've used the basic structure of your work

[2015-02-01 00:05] Arnavion commented on #33
http://arnavion.github.io/libjass/demo/index.js now contains more comments. I hope that helps.

[2015-02-01 00:05] #33 closed

[2015-02-13 20:04] pennello opened #34 "Safari: TypeError: Map constructor does not accept arguments"
Looks like there is a JavaScript error preventing the library from loading up on Safari.  I was able to reproduce by just loading [the demo page](http://arnavion.github.io/libjass/demo/index.xhtml).
![screen shot 2015-02-13 at 12 00 13 pm](https://cloud.githubusercontent.com/assets/5225759/6194297/fe92a878-b377-11e4-9ef6-c99ed929f60e.png)
I'm running Safari Version 8.0.3 (10600.3.18) on OS X Yosem

[2015-02-13 20:58] Arnavion commented on #34
Ah, interesting. That is from the code that detects if the global Map constructor supports the `iterable` parameter. On other browsers that don't support it, the argument is ignored, but it seems JSC explicitly throws an error for it.

The fix is simple, just catch the error and treat is the same way.

[2015-02-14 05:53] #34 closed

[2015-02-19 01:11] pennello commented on #34
Awesome; thanks!

[2015-03-07 04:17] Arnavion opened #35 "Support kfx"
- \k and \ko should be trivial to implement with `animation-timing-function: steps(1, start)`
- \K's sweeping behavior may be impossible to do with just CSS - might require two overlapping spans and an animated width.

[2015-03-23 10:40] Arnavion opened #36 "Support some form of automatic line breaking"
- Not accurate, but text width can be estimated based on font size and number of characters in the span.

- A more accurate method is [using a 2-D context of a canvas](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/measureText) but doing that for each sub might be overkill.

- How to take rotations / dynamic font sizes into account? Dynamic font sizes are especially impo

[2015-04-13 02:42] Arnavion opened #37 "Clock ticks don't update animations when paused"
With a paused clock, animations are paused. WebRenderer.draw is a no-op because the dialogue is already drawn. As a result, the sub animation remains paused at the frame it was first drawn at instead of updating with the ticks.

[2015-04-13 07:22] #37 closed

[2015-04-13 07:22] #21 closed

[2015-04-14 15:09] rcombs opened #38 "Let ManualClock use VideoClock's requestAnimationFrame logic"
This would be useful for cases where the consumer wants to manage coarse time events manually, but doesn't want to duplicate VideoClock's fine-grained update code.

[2015-04-15 04:51] #38 closed

[2015-04-15 16:45] Arnavion commented on #23
This was fixed by https://github.com/Arnavion/libjass/commit/71151b2

Since SimplePromise follows the Promises/A+ spec correctly, it should in fact work with instances of other types of Promise.

The recommendation to use a more featured and performant library still stands.

[2015-04-18 23:08] rcombs opened #39 "Use -webkit-text-stroke instead of SVG filters in Safari"
At least until https://bugs.webkit.org/show_bug.cgi?id=137856 is fixed, and it's been in radar since October with no sign of a solution any time soon.

[2015-04-18 23:13] Arnavion commented on #39
text-stroke cannot have different dimensions for width and height, and cannot be blurred.

[2015-04-18 23:15] rcombs commented on #39
Which sucks, but it's not as bad as this:
![](http://puu.sh/hiIkh/315e4ffffc.png)

[2015-04-19 00:20] kunaldes commented on #39
Yeah, it's spelled "Whoa".

[2015-04-19 03:31] Arnavion commented on #39
Can you not just set RendererSettings.enableSvg to false then?

[2015-04-19 17:50] rcombs commented on #39
4 text-shadows simulating 1px text stroke (as in libjass):
![](http://puu.sh/hjyUn/e67c7b436f.png)
`-webkit-text-stroke: 1px red;`
![](http://puu.sh/hjyXi/dcbc01f4c0.png)

The 4-shadow approach gives more flexibility, but `-webkit-text-stroke` looks much better in the simple dialogue case. Maybe use it when SVG is disabled, the stroke is the same in both directions, and the stroke is 1px or close

[2015-04-19 19:24] Arnavion commented on #39
ASS outlines are outside the shape. text-stroke is the width of the pen used to write the shape, so half of it is outside the shape and half inside. So a 1px outline would require a 2px text-stroke, of which 1px will be outside and 1px will be inside. But let's ignore that because it was also the intention of the author to have a 1px border around the shape, not 2px.

http://plnkr.co/edit/qVBgvGPm

[2015-04-22 20:23] rcombs commented on #39
Alrighty, thanks for the explanation. Buggy browsers are ~happy funtimes~.

[2015-04-22 20:23] #39 closed

[2015-04-28 17:47] Arnavion commented on #21
Further work was done to run tests on [IE 11](https://github.com/Arnavion/libjass/commit/f407b40) and [Firefox Nightly](https://github.com/Arnavion/libjass/commit/c8a2ea8). I don't plan to run these automatically in CI or on more environments using a hosted service at the moment.

[2015-07-07 01:09] Dador opened #42 "Timing out of sync after network lag or heavy animation"
Happens often when playing video with heavy animation (heavy for libjass, fine in native player). Also that happens on regural subtitles on mobile devices (such as Chrome on Android tablet). In case of network lag (html5 player waiting for video to load) that happens too.

These delays started after implementing new AutoClock. AutoClock take value of currentTime from html5 video only once. So diff

[2015-07-07 07:18] Arnavion commented on #42
It should be taking the currentTime value once every rAF tick. As soon as the currentTime changes (about 1 every 250ms except on IE where it's more frequent) it will snap to that new time. The purpose of AutoClock is to interpolate the timestamps in between changes of video.currentTime (or other external drivers, like say setTimeout) for less bleeding.

Are you sure it only takes it on play and se

[2015-07-09 20:41] Dador commented on #42
That's how it looks from side:
- Start play video
- Opening with various heavy effects (which lags around 2 seconds)
- All dialogues after opening is delayed for 2 seconds.

After testing it many times I think Chrome Mobile reports wrong currentTime after such lags. For example at real video position 01:00 it reports 00:58.
Only after seek it starts to report right currentTime. That's why I though

[2015-07-09 21:13] Arnavion commented on #42
That is interesting. Thanks for testing. I don't have any mobile to test on, so I appreciate it.

[2015-07-10 18:29] Dador commented on #42
Works fine in stock Android browser. So bug only in Chrome Mobile.

I created issue and reduced test in Chromium project. Please star it - https://code.google.com/p/chromium/issues/detail?id=509010

I close this issue cause problem not in libjass.

[2015-07-10 18:29] #42 closed

[2015-07-11 03:34] bsuh opened #43 "Possible to render ASS before ASS.fromURL promise is fully resolved?"
My use case is I use [torrent-stream](https://github.com/mafintosh/torrent-stream), which creates readable streams of torrent files. You can start watching video files, before they are fully transferred. I can also feed a mkv video file stream into ffmpeg to create a ASS file stream. It would be neat if libjass could support rendering the currently parsed dialogue.

I looked around and it seems li

[2015-07-11 06:34] bsuh commented on #43
I got it to work with some hacking. I'll clean up my work and send a pull request :)

[2015-07-11 07:41] Arnavion commented on #43
ASS.from* are simple wrappers around the corresponding Stream implementation that is then parsed to StreamParser. If you want to use StreamParser.minimalASS, you can create this construct yourself:

[code]

Eg: https://github.com/Arnavion/libjass/blob/53f96a2/tests/unit/miscellaneous.js#L247-L264

I haven't given convenience wrappers similar to ASS.from* for minimalASS mostly because I don't want

[2015-07-11 08:13] bsuh opened #44 "Manual clock behavior weird"
Calling `this.disable()` first sets `this._enabled` to false, then calls `this.pause()` which does nothing because `this._enabled` is false, then calls `this.stop()`, which works as expected and makes `WebRenderer` hide the subtitle container by dispatching `ClockEvent.Stop`.

Then calling `this.enable()`, sets `this._enabled` but subsequent `this.tick()` calls call `this.play()` which doesn't sen

[2015-07-11 08:18] bsuh commented on #43
I see. I'll close this then.

[2015-07-11 08:18] #43 closed

[2015-07-12 07:14] Arnavion commented on #44
manualClock.pause() is not supposed to be required. That is a bug, which can be fixed by setting this._enabled to false *after* calling this.pause(). I'm doing this, as well as adding some long-awaited tests for clock behavior.

Note that enabling a clock is supposd to leave it in a paused state until it is ticked to a new currentTime. As such, you don't have to call manualClock.play(); it will be

[2015-07-12 07:58] #44 closed

[2015-08-01 18:18] Dador opened #47 "Font scale (\fscx, \fscy) is wrong (bigger than should be)"
Seems like proportion is right but whole text becomes much bigger than should be.

In libjass:
![libjass-1](https://cloud.githubusercontent.com/assets/974924/9022954/ca9bd144-3891-11e5-8a94-9e21fcd141ea.png)

In Aegisub (libass):
![libass](https://cloud.githubusercontent.com/assets/974924/9022976/329db88e-3892-11e5-9822-af9795c09c54.png)

Test script:
[code]

[2015-08-01 18:33] Dador opened #48 "The distance between dialogues is too big"
In libjass:
![2015-08-01_21-28-50](https://cloud.githubusercontent.com/assets/974924/9023045/6c12d91c-3894-11e5-99b8-dc4757212af0.png)

In Aegisub (libass):
![25_001_0](https://cloud.githubusercontent.com/assets/974924/9023047/7736eb80-3894-11e5-9620-fe0ae108d31a.png)

Test script:
[code]

[2015-08-01 18:34] Dador opened #49 "Wrong order of dialogues"
In libjass:
![2015-08-01_21-28-50](https://cloud.githubusercontent.com/assets/974924/9023045/6c12d91c-3894-11e5-99b8-dc4757212af0.png)

In Aegisub (libass):
![25_001_0](https://cloud.githubusercontent.com/assets/974924/9023047/7736eb80-3894-11e5-9620-fe0ae108d31a.png)

Test script:
[code]

P.S. Test almost the same as #48 but this issue about different thing so I decided to put it in separate issu

[2015-08-01 19:44] Arnavion commented on #48
Yes, it applies the outer margin (bottom margin for \an2, etc.) to every dialogue, whereas VSFilter / libass only apply it to the outermost dialogue and use no margin for the others.

Currently each dialogue is rendered in isolation, so making it aware of other dialogues will be tricky (especially taking into account that the diaogue is rendered from cache).

[2015-08-01 22:38] Arnavion commented on #49
Yes, currently the renderer always appends new subs to the layer div, so new subs always appear in document order (i.e., below) existing subs.

Is it okay to just reverse this for the layer1-3 divs - use insert instead of append? Or is there something else to consider?

[2015-08-01 23:13] Arnavion opened #50 "Font name should not be quoted when it's a CSS keyword"
For example, Style defaults fontName to `sans-serif` if the ASS doesn't specify one. Such a keyword is supposed to be used without quotes for the CSS `font-family` property, otherwise it's interpreted as a real font name instead of a keyword.

[2015-08-01 23:24] Arnavion commented on #47
For (1), it renders x as "font-size: 46px, scaleY(2)" instead of "font-size: 23px, scaleY(2)". Similarly it renders y as "font-size: 23px, scaleY(0.5)" instead of "font-size: 46px, scaleY(2)"

`const fontSize = (this._scaleY * this._fontSizeForLineHeight(this._fontName, this._fontSize * (isTextOnlySpan ? this._fontScaleY : 1), this._fontSizeElement)).toFixed(3);`

should be

`const fontSize = (thi

[2015-08-02 12:33] Dador commented on #49
First dialogues ordered by "start time" (the earliest dialogue would be at the bottom).
If there are dialogues with the same "start time", then order by position in script (the dialogue that closest to beguining whould be at the bottom). [Script to test that](https://gist.github.com/Dador/2d84c2253a5f074a7afe).

I don't think that thing with time important for common dialogues. But maybe it can be

[2015-08-02 16:28] Dador opened #52 "Wrong font color when using opacity (if svg is disabled)"
libjass with enableSvg = true:
![2015-08-02_19-18-06](https://cloud.githubusercontent.com/assets/974924/9026954/501fee2c-394b-11e5-9eca-52d34cf8e3d5.png)

libjass with enableSvg = false: (notice that it darken than previous, that more noticeable on colored text)
![2015-08-02_19-16-20](https://cloud.githubusercontent.com/assets/974924/9026948/185e6d74-394b-11e5-8137-352c30e0273b.png)

Aegisub (liba

[2015-08-02 16:34] Dador opened #53 "Animated \alpha start animation from 0% opacity"
Animated \alpha start animation from 0% opacity while should start it from 100% opacity.

Test script:
[code]

[2015-08-02 18:08] Arnavion commented on #52
The pitfall is that opacity is separate for the text (\1c) and the shadow (\3c), so setting global opacity only works when both are the same value, not in general.

[2015-08-02 18:15] Arnavion commented on #53
It's because SpanStyles.*alpha are actually `number?`, i.e. if not set they are null. So the null is treated as 0 in the \t calculation.

[2015-08-02 19:05] #53 closed

[2015-08-03 06:45] Arnavion commented on #49
Sorting by start time is technically not right. Eg: dialogue1 is from 2s to 7s and dialogue2 is from 1s to 5s. If seeking to 3s, then d1 should show before d2 (assuming \an2, d1 should be below d2). However if you play the video with vsfilter from 0s to 3s you *will* see it put d2 below d1, which is because of two reasons:

- Since at 1s vsfilter already rendered d2, it will not move it at 2s when

[2015-08-03 06:52] Arnavion commented on #49
Oh right, it reorders on pause and play for a similar reason to vsfilter's caching - libjass doesn't re-render subs that are already displayed. So in normal playback the 4-* are already displayed, so the 5-* are appended below the 4-*. However on pause/play, all subs at the current time are re-rendered in script order, so 5-* are put first and 4-* appended below them.

[2015-08-03 07:40] Arnavion commented on #52
The darkness comes from the text shadows being rendered behind the text. The SVG filter doesn't have this issue since it overlays the original text on top, so the ouline behind the text is not rendered.

[2015-08-03 10:49] Arnavion commented on #52
That ^ commit fixes it for SVG outlines, since it's possible to cut the original shape out from the composite outline.

It's not so easy with text-shadow ...

[2015-08-03 10:56] Dador commented on #52
Maybe "possible way" to do this would be to implement outline via different CSS-property. Before disabling svg I'm wondered "How did you implemented outline in plain CSS?". Anywas, thing with many text-shadows was pretty interesting.

[2015-08-03 16:11] Arnavion commented on #52
I remember I had at one point made a prototype that rendered every dialogue twice. The first one had only text-shadows and no color, and the second one had only color and no text-shadows. The text-shadows-only one was put into its own set of layer divs so that it would appear in the same position as the color-only one but behind it. I threw it away because it didn't seem necessary to justify it bu

[2015-08-03 18:50] Dador commented on #52
By the way, does CSS renderer (with disabled SVG) have problems with other styles/effects? I mean is text outline is the only problem?

And the reason why I interested in CSS renderer. I found out that libjass with disabled SVG is much faster and not lagging on some karaoke (although maybe that's because some effects are disabled, lol). I made (very) small research and seems canvas has plenty of f

[2015-08-03 22:51] Arnavion commented on #13
@Dador

Let me put it this way. All the problems that libjass has - wrong sizes, wrong colors, tags that are difficult or impossible to support - are mostly from libjass's design of using browser DOM, instead of something that gives direct control over the output pixels like canvas.

The advantage of using browser DOM is that libjass does not have to deal with low-level stuff like drawing, positio

[2015-08-04 00:20] Arnavion commented on #52
(Answered in #13)

[2015-08-05 22:35] Arnavion commented on #52
Actually, the two-div method would have the same problem (shadows behind translucent text) so it wouldn't make any difference.

Only thing I can think of is that if primaryAlpha === outlineAlpha === shadowAlpha, then set alpha in the colors to 1 and use CSS `opacity` property, as you suggested. Probably all alphas having the same value is the common case, so this should handle most subs.

[2015-08-06 06:49] Arnavion commented on #52
And that ^ commit fixes it for that case.

[2015-08-26 21:38] Arnavion commented on #47
@Dador Can you move (2) into its own issue?

[2015-08-26 21:41] Dador opened #54 "Font scale + rotation leads to wrong rotation degree"
In libjass:
![2015-08-01_21-14-36](https://cloud.githubusercontent.com/assets/974924/9022987/7808d660-3892-11e5-8c61-bb6848661fd3.png)

In Aegisub (libass):
![libass](https://cloud.githubusercontent.com/assets/974924/9022993/94d34730-3892-11e5-8b02-67e63eb762bf.png)

Test script:
[code]

[2015-08-26 21:43] Dador commented on #47
Yeah, done: #54
I close current issue cause you already fixed it.

[2015-08-26 21:43] #47 closed

[2015-09-01 08:14] #50 closed

[2015-09-03 14:49] ken-lofi opened #55 "font size changed in libjass"
hello
i have two problem after using libjass on website
the first is about support fonts
i think the pre-loading not work properly
i have all the font in my pc and also i have attached font to the script
but here photo of what appears

in libass
http://im49.gulfup.com/8NvrgU.png
![23_001_2779](https://cloud.githubusercontent.com/assets/14111009/9661557/23f2add2-5253-11e5-81fa-30bb074cbd44.png)

in

[2015-09-03 16:39] Arnavion commented on #55
For the browser to show the font you need to have a CSS `@font` declaration for each font name that contains the URL to download the font. Preloading just requires you to pass in a map that contains these URLs. Do you have a `@font` declaration? Are you giving the fontMap parameter of the RendererSettings when you construct the renderer?

I will test this. But just to confirm, both images are for

[2015-09-04 13:08] ken-lofi commented on #55
first, thank you for replyy :+1: )
no, i didn't make @font declaration.... i will make it then try
+++
no, i just made modification on the script to take screenshots that show the problem
and for real here the right problem
one picture from aegisub and the other from browser
you'll see the font size become smaller in libjass then the real size in libass
and sometimes become bigger

aegisub libass

[2015-09-04 17:33] Arnavion commented on #55
If libjass uses the wrong font then it is quite possible the resulting size will be wrong. On my machine I used the script from your OP and got almost the same size as in your libass image (it was slightly smaller than libass, but not so much smaller like in your libjass image). Can you confirm that the size is correct after you add the `@font` declaration?

[2015-09-04 17:39] Arnavion opened #56 "SVG outlines are blocky and don't touch the text"
The [fix](https://github.com/Arnavion/libjass/commit/6939e10) for #52 introduced multiplying the SourceAlpha by 1e6 to try to get the equivalent of SourceAlpha but with value 1 at all points instead of the actual source value. This has the downside that the result is blocky and slightly larger than the source, so not only are the outer edges of the outline blocky, but excluding the multipled alpha

[2015-09-04 19:01] realfinder commented on #55
hi all
libjass can't load fonts that attached in .ass file?

[2015-09-04 20:52] Arnavion commented on #55
It is not a commonly used feature, so no. Not yet, atleast. I can imagine the only way to get the browser to use it would be to generate a `@font` declaration and use a data URL for the font.

[2015-09-09 17:21] ken-lofi commented on #55
hello arnavion
i have made @font declaration
but can u explain to me what u meant with this:  ((Are you giving the fontMap parameter of the RendererSettings when you construct the renderer?))
+++
the font size in libjass always still smaller than in libass ans vsfilter

[2015-09-09 17:30] Arnavion commented on #55
You need to pass in that parameter in renderer settings when you create the renderer, otherwise it will not know which fonts to preload. http://arnavion.github.io/libjass/api.xhtml#libjass.renderers.RendererSettings.fontMap

[2015-09-09 17:36] Arnavion opened #57 "Add top-level version property"
[code]

[2015-09-09 17:55] Yukusawa commented on #55
Hii , Can u Give us a Simple Example Plz :)

[2015-09-09 20:58] Arnavion commented on #55
I guess I should clarify the docs a bit more.

- "How do I make the browser show this text in the font I want?"

  For this you need to make the CSS `@font-face` declarations. This is not specifically related to libjass - you would do this for any web content where you want to use your own font. It would look like what you already have:

[code]

  or you could put them in a .css file and use a `<l

[2015-09-10 13:10] ken-lofi commented on #55
thank u for the tutorial arnavion-kun
we will try then tell u the result

[2015-09-14 00:16] Yukusawa commented on #55
Thank u ArnaVion :+1:

[2015-09-24 23:09] ken-lofi commented on #55
hello ArnaVion
we have added some font succufuly
but the problem of font size still existe
in some font become bigger than the real size and in another font become smaller than the right size
here pictures that show the problem
libass pic
![horriblesubs naruto shippuuden - 431 480p _001_659](https://cloud.githubusercontent.com/assets/14111009/10089079/ba48a000-6317-11e5-93ce-ccceac17ce10.png)

lib

[2015-09-24 23:17] ken-lofi commented on #55
script
http://3k.ae/translation/fjsvcblhromyueitqdagwpxknz.ass

[2015-09-25 17:54] Arnavion commented on #55
I can reproduce it for the second case (the one using Hacen Typographer). The issue is that when libjass wants to measure the font metrics by setting the font-measure div to "Hacen_Typographer" font family, the browser renders it as Arial first and then later renders as Hacen Typographer. So the font metric becomes wrong because it calculates the metric for Arial.

[2015-09-25 18:06] Arnavion commented on #55
It doesn't have anything to do with the fact that Hacen Typographer is loaded via XHR, since the metric is calculated when the clock starts ticking, which for DefaultRenderer is after it has preloaded the fonts. To be absolutely sure, I added a delay of 1s between finishing preloading fonts and starting the clock, and the issue still repros.

It might be that browsers (or atleast Chrome anyway) ap

[2015-09-25 21:47] ken-lofi commented on #55
so from what i understand from ur explain that there is no solution for the right time ??

[2015-09-28 18:28] Arnavion commented on #55
@ken-lofi @Yukusawa Seems I forgot to update this thread. Can you check if the commit above fixes your issue? Your second line seems to be fine with it, but I only checked the second one because I don't know the timecode of the first line in your script.

[2015-09-29 15:55] ken-lofi commented on #55
but we don't understand what to do exactly?? or how to apply your solution?
more explain plz arnavion-kun??

[2015-09-29 16:37] Arnavion commented on #55
[code]

Now use `lib/libjass.js`

[2015-09-29 21:58] ken-lofi commented on #55
ok, we'll try then tell u
thanks

[2015-10-19 13:24] weizhenye commented on #35
I just read [this](https://css-tricks.com/reverse-text-color-mix-blend-mode/) article and found [mix-blend-mode](https://css-tricks.com/almanac/properties/m/mix-blend-mode/) maybe helpful for `\K` or `\kf`, but it seems mix-blend-mode has to work with background, it may still hard to implement `\K`. And [browser support](http://caniuse.com/#feat=css-mixblendmode) is also a problem.

[2015-10-19 17:03] Arnavion commented on #35
It doesn't just work with background. It works with anything behind it. The reason your link uses `background-color` is to just get a solid colored square of varying width behind the text.

I'd discovered it from [this article](http://franklinta.com/2014/11/30/image-diffing-using-css/) two weeks ago and thought about using it for the functional tests (by overlaying the "expected" image on to the "

[2015-10-25 08:03] Arnavion commented on #55
@ken-lofi Did you try it?

[2015-11-04 19:27] #56 closed

[2015-11-12 23:00] ericmatthys opened #58 "Letter spacing thrown off by a mix of italic and regular types"
The problem arises when there is a line with both italic and regular types.

`254 00:27:00,560 --> 00:27:04,997 Im <i>Hollywood Bowl</i> hatten zwar bereits die Beatles gespielt, `

With libjass:

![screen shot 2015-11-12 at 3 57 55 pm](https://cloud.githubusercontent.com/assets/1154586/11133904/2b8279b2-8956-11e5-8abd-3fe7dc0047d3.png)

Without libjass:

![screen shot 2015-11-12 at 3 58 28 pm](ht

[2015-11-13 05:39] Arnavion commented on #58
Try https://github.com/Arnavion/libjass/compare/fix-58

I'll see if there's a less hacky way of doing it before merging it.

[2015-11-27 01:36] #55 closed

[2015-11-27 01:36] #58 closed

[2015-12-22 16:48] janparadowski opened #59 "Support BorderStyle = 3"
Currently, this does not seem to be supported.
Should make a (black) rectangular background to the subtitles/captions.

please?

[2015-12-22 19:01] Arnavion opened #60 "Improvements for the demo page"
First page

- [x] Explain clearly that choosing a local file for the video or script will not upload them anywhere.
- [x] Allow URL string for the video file. Explain that it must be a direct link to the video, not say a youtube link.
- [x] Allow URL and textfield for the ASS file.
- [x] Detect if browser does not actually support file URL.createObjectURL and ask for a URL instead.
- [ ] ~~Allow u

[2015-12-23 23:19] Arnavion commented on #59
The non-SVG render path could use https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow with everything 0 and spread > 0 to generate shadows of uniform `spread` thickness. Different outline width and height will require multiple shadows of the smaller dimension tiled along the longer dimension.

The SVG render path could use BackgroundAlpha and deform it similar to how it does regular outlin

[2015-12-29 08:36] #60 closed

[2016-01-09 19:35] soruly opened #61 "Outline color looks pale"
The original image
![ori](https://cloud.githubusercontent.com/assets/1979746/12217893/a9906c62-b749-11e5-8266-0b3cdef292bd.png)

The subtitle displayed
![2](https://cloud.githubusercontent.com/assets/1979746/12217894/ae6cce2e-b749-11e5-9df2-e0bc9649523e.png)

The subtitle file
[code]

[2016-01-09 19:44] soruly commented on #61
Referring to this issue https://github.com/awgreenblatt/gradientmaps/issues/1
It looks like it's something related to color-interpolation-filters on feComponentTransfer
A quick fix would be like:
[code]
The result:
![3](https://cloud.githubusercontent.com/assets/1979746/12217964/8bf467ec-b74b-11e5-9dbb-d15378c6882a.png)

[2016-01-10 02:09] Arnavion commented on #61
Ah, that link confused me initially, but I understand it now. It's not that Chrome is doing the wrong thing by defaulting to linearRGB. There are *two* properties `color-interpolation` and `color-interpolation-filters`, where the former defaults to sRGB and the latter to linearRGB.

[2016-01-10 02:48] #61 closed

[2016-01-19 13:04] giggioman00 commented on #55
Hi guys, I'm facing the same problem about font size.
Using libjass, font size is bigger than the font size of PC.
I read all this thread but I didn't understand very well what to do for fix the problem.
Could you please explaine me with more info? Thank you.

[2016-01-19 17:42] Arnavion commented on #55
I explained in https://github.com/Arnavion/libjass/issues/55#issuecomment-139043980 What specifically did you not understand?

[2016-01-19 19:14] giggioman00 commented on #55
I need to preload font for make the font appear at the right size, right? So which file should I edit for add this:
var renderer = new libjass.renderers.DefaultRenderer(video, ass, {
    fontMap: new libjass.Map([
        ["Foo", ["./fonts/foo.ttf"]],
        ["Bar", ["./fonts/bar.ttf"]]
    ]);
});

[2016-01-19 19:26] Arnavion commented on #55
The same place where you are currently using libjass.renderers.DefaultRenderer - your website's JS file.

[2016-01-19 20:32] giggioman00 commented on #55
I'm using v 0.10.0 downloaded here: https://github.com/Arnavion/libjass/releases
I opened every JS file but I can't find that libjass.renderers.DefaultRenderer anywhere

[2016-01-19 23:33] Arnavion commented on #55
libjass is a library. You have to include it on your web page and then write your own JS to use it.

For example look at the [demo page.](http://arnavion.github.io/libjass/demo/index.xhtml) It includes libjass.js and its own index.js, and index.js contains the code to use libjass to show subtitles.

[2016-01-20 00:40] giggioman00 commented on #55
In my site I'm going to use videojs-ass.
In teir .js ther isn't libjass.renderers.DefaultRenderer

There is:
libjass.renderers.AutoClock
libjass.renderers.RendererSettings
libjass.renderers.WebRenderer

But there isn't libjass.renderers.DefaultRenderer.
What should I do?

[2016-01-20 01:25] Arnavion commented on #55
videojs-ass uses WebRenderer which is fine - the fontMap property is for both WebRenderer and DefaultRenderer. It lets you give options so that is where you would set the fontMap property, but videojs-ass [only uses the enableSvg property from the options.](https://github.com/SunnyLi/videojs-ass/blob/8c400ac/src/videojs.ass.js#L76-L81) You should file an issue there.

[2016-01-21 16:52] giggioman00 commented on #55
SunnyLi have fixed the problem, but still the font is too big.
I'm doing the testing on localhost.
As you can see, now the font is preloaded succesfully.

<a href='http://postimage.org/' target='_blank'><img src='http://s12.postimg.org/wudu9kaal/font.jpg' border='0' alt="font" /></a>

But this is how I see the font on my PC Desktop.

<a href='http://postimage.org/' target='_blank'><img src='http:/

[2016-01-21 17:34] Arnavion commented on #55
Give me the script and the font.

[2016-01-21 18:36] Arnavion commented on #55
Also, try replacing videojs-ass's copy of libjass.js with the one from https://raw.githubusercontent.com/Arnavion/libjass/gh-pages/demo/libjass.js and see if it makes a difference. That is from v0.11.0 that contains some font size fixes.

[2016-01-21 19:05] giggioman00 commented on #55
Using v0.11.0 I don't see any difference....
Anyway I also notice that margin of the subs are not the same I set on Aegisub.

Please tell me how can I send to you the script and the font in private

[2016-01-22 04:02] Arnavion commented on #55
Join #libjass on Rizon and PM me

[2016-01-22 13:47] giggioman00 commented on #55
It says this: [14:28] == #libjass Cannot join channel (+b)
But I never logged in this channel

[2016-01-22 15:59] Arnavion commented on #55
Heh, apparently Rizon auto-banned all of Italy from every channel I'm in last year.

`:irc.rizon.io 367 Arnavion #libjass *!*@*.it irc.rizon.io 1445916612`

Unbanned now.

[2016-01-23 08:46] Arnavion commented on #55
1. You define the font face CSS rule with `font-family: 'nunitoregular';` but the font name in the ASS script is `Nunito`. Your font face rule should have `font-family: 'Nunito';` for it to work because libjass uses the font name in the ASS script as the CSS font family.

  Since you installed the font on your machine it does use the font in your screenshot.

1. The font size and margins are corre

[2016-01-23 13:09] giggioman00 commented on #55
I fixed the problem on font-face but still the font is big...
I'm doing everything on localhost...
The margin problem appear in subtitle with many words. For example the line @ 12:38:74
I set 5px margin on the left and on the right and 20px of margin at the bottom. But if you look this images:
- On the left and on the right seem to be more than just 5 px
- On the bottom seem to be less than 20px.

[2016-01-23 14:46] giggioman00 commented on #55
I uploaded everything from my localhost to a testing site.
Due to the low HDD space this free service offer, I needed to change video source and subtitle script.

You can find everything here: http://test995.altervista.org/index.php/player/8/8

Even here the font is big.
Anyway it's less bigger than the other script. I don't know why.

[2016-01-23 19:15] Arnavion opened #62 "Letterboxing calculation is wrong"
Currently WebRenderer assumes letterboxing is a function of the target resolution and script resolution. This is wrong - for example if video is 1280x720 (1.78:1), script is 720x480 (1.5:1), and WebRenderer is told to resize to 1280x720, it assumes letterboxing on the sides and resizes the subs wrapper to  1080x720 (1.5:1).

Instead, letterboxing is a function of the target resolution and *video*

[2016-01-23 19:28] #62 closed

[2016-01-23 19:33] Arnavion commented on #62
@SunnyLi This will be a breaking change for videojs-ass since it uses WebRenderer. You'll have to do the same calculation as DefaultRenderer does now - https://github.com/Arnavion/libjass/blob/9b0e15c/src/renderers/default.ts#L50-L61 - and change your call to WebRenderer.resize

[2016-01-23 19:34] Arnavion commented on #55
For the margin problem - libjass's letterboxing calculation was wrong. See https://github.com/Arnavion/libjass/issues/62 That is why your 1.5:1 script was not stretching to the full width of a 1.78:1 video and giving the appearance of having too much horizontal margin.

[2016-01-23 20:00] giggioman00 commented on #55
The source of my script is 720*480, but also the video source I used was 720*480...
The video become bigger than 720*480 only in Fullscreen mode...
I don't know if this info can help

[2016-01-23 20:16] ken-lofi opened #63 "odd problem with subtitle border in Google chrome"
hello
first. i'am using v0.10
here my problem in google chrome
![sans titre](https://cloud.githubusercontent.com/assets/14111009/12532477/6812b2b4-c215-11e5-85a9-4d5e653926e8.png)

but in mozilla like this
![sans titre1](https://cloud.githubusercontent.com/assets/14111009/12532485/c743009a-c215-11e5-9b2e-858b4eae77a6.png)

+++++
another problem
browser can't load from device the fonts which have o

[2016-01-23 20:24] Arnavion commented on #55
No, the video on your site is 720x408 and target resolution is 850x482

[2016-01-23 20:30] Arnavion commented on #63
The first one is probably Chrome bug https://code.google.com/p/chromium/issues/detail?id=554169 Which version of Chrome are you using? You can work around it by disabling use of SVG filters by setting [enableSvg property in renderer settings](http://arnavion.github.io/libjass/api.xhtml#libjass.renderers.RendererSettings.enableSvg) to false.

For the second one, in your `@font-face` rule make sure

[2016-01-23 20:34] giggioman00 commented on #55
The video I put on the testing site yes, is 720x408
but the video of this video: https://github.com/Arnavion/libjass/issues/55#issuecomment-174185268
is 720x480

[2016-01-23 21:06] ken-lofi commented on #63
i'am using v 47.0.2526.111 of google chrome
i don't understand how to disable SVG!!!
*****

ABOUT @font-face,, which one exactly... in my website or the browser??

[2016-01-23 21:11] ken-lofi commented on #63
libjass v0.11
when will be released?

[2016-01-23 21:48] Arnavion commented on #55
It looks 852x480 to me.

Anyway that example shows in two lines for me with the fix in #62 for both 852x480 video and 720x480 video, as it should. Now you just have to wait for SunnyLi to update videojs-ass to use it.

[2016-01-23 23:12] SunnyLi commented on #62
@Arnavion Thanks. I'll keep this in mind when upgrading to the next version of libjass.

[2016-01-24 01:00] giggioman00 commented on #55
Thank you very much. I used the code you posted there and replaced with the old code and now works perfect, even the line of the previous screen now is in 2 lines. Thank you very much!

[2016-01-24 01:49] giggioman00 commented on #55
Sorry, another question. Now I'm using the script you gave to me: https://raw.githubusercontent.com/Arnavion/libjass/gh-pages/demo/libjass.js

Anyway, should I also use the new css: https://raw.githubusercontent.com/Arnavion/libjass/gh-pages/demo/libjass.css ?
I seen there are some changes from the old 0.10.0

[2016-01-24 07:38] SunnyLi commented on #55
Yes you should use the updated styles.

FYI, I've updated the videojs plugin to work with the latest dev version.
Code is on branch [v0.6](https://github.com/SunnyLi/videojs-ass/tree/v0.6).

[2016-01-24 21:16] giggioman00 commented on #55
In PC desktop everything works great, but there is a very critical problem on mobile device.
Margin bottom seems to be 0 on mobile device. Then, when there is a subtitle line with 2 line, subtitles are overlying each other...

So there is just 1 line but is impossible to read since there are 2. Please take a look at the screen, this show there is no margin an the overlay of 2 line sub:

 <img src=

[2016-01-25 00:57] ken-lofi commented on #63
??

[2016-01-25 15:55] soruly commented on #63
@ken-lofi you can disable svg like this
[code]
Then pass the rendererSettings object into your renderer
[code]

[2016-01-25 20:12] Arnavion commented on #63
By the way, doing `new libjass.renderers.RendererSettings()` is not necessary. All the renderers accept an object literal for the settings parameter like `{ enableSvg: false, }` and [internally convert it to a  RendererSettings](https://github.com/Arnavion/libjass/blob/509aa3b/src/renderers/null.ts#L47) with [RendererSettings.from()](https://github.com/Arnavion/libjass/blob/509aa3b/src/renderers/s

[2016-01-25 20:48] Arnavion commented on #55
Please open a new issue when your issue is not the same as the current one.

[2016-01-25 21:03] giggioman00 opened #64 "Margin problem on mobile device"
In PC desktop everything works great, but there is a very critical problem on mobile device.
Margin bottom seems to be 0 on mobile device. Then, when there is a subtitle line with 2 line, subtitles are overlying each other...

So there is just 1 line but is impossible to read since there are 2. Please take a look at the screen, this show there is no margin and the overlay of 2 line sub:

http://s8

[2016-01-26 21:03] atomjack opened #65 "Weird characters â€Œ being rendered in dialogs"
I'm displaying subtitles (on a Chromecast) from a stream, using minimalASS:

[code]

I had to do it this way as the Promise would never resolve when I used fromUrl, I'm guessing since it is a stream that doesn't complete loading.

The dialogs are showing up, however every dialog has some weird characters included, specifically `â€Œ`, where every newline in the dialog is. The original subtitle line

[2016-01-27 01:09] Arnavion commented on #65
It's not the subs, it's libjass.js. Your browser is not interpreting libjass.js as utf-8. The mojibake is coming from the \u200C that libjass [adds at the end of every text part.](https://github.com/Arnavion/libjass/blob/509aa3/src/renderers/web/renderer.ts#L786) It's converted to the actual unicode character by the TS compiler which your browser is misinterpreting as local system encoding.

[2016-01-27 02:04] atomjack commented on #65
Ahhh interesting. My compiled .js file had the resulting line as
`currentSpan.appendChild(document.createTextNode(part.value + ""));` in my IDE, although in vi it shows up as a special character: <200c>.

I removed the `+ ""` and the weird characters went away. I even tried replacing it with ` + "\u200C"` and that looks fine as well.

I'm not sure what else the fix should be, so I can close this i

[2016-01-27 02:09] Arnavion commented on #65
Yes, like I said >It's converted to the actual unicode character by the TS compiler (`0xe2 0x80 0x8c`)

You shouldn't remove it since it was added to fix #58 Like I said, the fix needs to be on your end to add charset header or add BOM to libjass.js, whichever one is easier for you.

[2016-01-27 02:45] Arnavion commented on #65
Okay, it's actually UJS that does this, not TS.

To be honest, I think I'll just change it to emit the original Unicode escape. I don't see the point of replacing it with the actual character.

[2016-01-27 08:03] #65 closed

[2016-01-27 14:08] giggioman00 commented on #64
I don't know much but I think the issue is the same as before, but this time happen when the ratio and the video are resized.

[2016-01-27 18:24] atomjack commented on #65
Thanks! That did the trick!

[2016-01-28 17:17] giggioman00 commented on #64
If you don't have the time for fix the margin on mobile device it doesn't matter but please, could you at least fix the overlap of the subs? making them at least readable...

[2016-01-28 18:15] Arnavion commented on #64
It is of no use to me if you report a bug report without any of the following information:

- URL of the website where you see the issue
- URL of video, or atleast the original dimensions of the video
- URL of ASS file, or atleast just the part where you're seeing the issue
- Whether you're using libjass.js or videojs-ass or something else

If you don't give me any of that then I have no way to he

[2016-01-29 02:45] giggioman00 commented on #64
Info are the same of the last time...

Video: http://test995.altervista.org/index.php/player/8/8
ASS: http://test995.altervista.org/components/com_contushdvideoshare/videos/8_ITA1613213799.ass

videojs-ass with libjass

[2016-01-29 03:01] Arnavion commented on #64
If you're seeing the same problem with http://arnavion.github.io/libjass/demo/index.xhtml?disableSvg then give me a screenshot of it.

[2016-01-29 13:15] giggioman00 commented on #64
Ok, here you can find the screeshot:
![tmp_8474_screenshot_2016_01_29_14_10_18106422537](https://cloud.githubusercontent.com/assets/11320345/12676456/b8aa7f28-c692-11e5-9886-053d925c2c48.jpg)

The line of the screenshot is this:
Dialogue: 0,0:00:00.00,0:01:15.00,Default,,0000,0000,0000,,{\an8}This is a sample ASS file\Nthat showcases some of libjass's capabilities.

Because is the only dialogue of

[2016-01-29 19:14] Arnavion commented on #64
Your browser is ignoring `<br>` *and* has some other style that's causing multiple `<span>` to overlap. Either your browser has some broken default styles or you have some custom user-styles. Try another browser.

[2016-01-29 20:06] giggioman00 commented on #64
I have a friend that also use firefox with Android. Asking him to check, he said that everything works great. So yeah, it was my problem. Thank you.
Also, changing to chrome everything works fine even for me.

Anyway I can't understand why. I didn't changed anything on my mobile firefox, I just downloaded and installed.

[2016-01-29 21:35] Arnavion commented on #64
Cool. If you ever find out what it was then please post it here in case someone else hits it.

[2016-01-29 21:35] #64 closed

[2016-02-05 14:54] giggioman00 opened #66 "Critical Problem, please help me ASAP"
Weeks ago I tested libjass on videojs-ass.
In localhost everything worked fine.
The problem is that now, in the production site, subtitles doesn't appear. This seems strange, because localhost and production site have the same code.
Anyway, now doesn't work.
Is there any php software/extension that I should install for let the plugin works? I don't know, maybe php-xml or something like that?

EDIT

[2016-02-05 18:12] Arnavion commented on #66
https://github.com/Arnavion/libjass/issues/64#issuecomment-176316325

[2016-02-07 01:54] Arnavion commented on #66
[code]

It is not an error. [I've suppressed it to avoid confusion.](https://github.com/Arnavion/libjass/commit/1de86c4)

[code]

Good.

[code]
Then when you have that info you can reopen this bug.

[2016-02-07 01:54] #66 closed

[2016-02-07 01:55] #63 closed

[2016-02-07 15:25] giggioman00 commented on #66
Ok, I get an answer from the guy of second comment.
He use a laptop as PC Desktop, O.S. is android and he use google chrome as browser. He also said to have used firefox and opera but faced the same problem.
On mobile, he have a windows phone with google chrome

[2016-02-09 02:04] Arnavion commented on #66
Chrome on Android lag issue is https://code.google.com/p/chromium/issues/detail?id=509010

[2016-02-16 00:19] ken-lofi opened #67 "About font metric while preloading"
hello aranv... hope that u^^ fine
i want o know if this version https://raw.githubusercontent.com/Arnavion/libjass/gh-pages/demo/libjass.js
contain font metric https://github.com/Arnavion/libjass/commit/c6cafd10d43d56968f2010bb1c6e3291908f9ae3

++
and when will u release the last version cauze i have a website and i want to use the last version
and thanks

[2016-02-16 00:32] Arnavion commented on #67
![image](https://cloud.githubusercontent.com/assets/1096010/13063869/85703554-d401-11e5-87c1-984605f55468.png)

![image](https://cloud.githubusercontent.com/assets/1096010/13063879/af251e00-d401-11e5-8c87-113b1b3e49e2.png)

[2016-02-16 00:32] #67 closed

[2016-02-19 06:31] elBarkey opened #68 "realtime dialogues changes/editing"
Hi first of all thanks for this great libs.
Is there any implementation to achieve dialogues,styles,start time changes on realtime?
Thanks.

[2016-02-19 07:06] Arnavion commented on #68
It's not documented because it's not explicitly supported (yet), but yes you can do it.

Modify the private properties of the Dialogue object (eg `ass.dialogues[0]._start = 100;`). Then call [`renderer.resize(width, height, left, top)`](http://arnavion.github.io/libjass/api.xhtml#libjass.renderers.WebRenderer.resize) with the same values for those parameters as what it already has. Resizing to the

[2016-02-19 07:14] elBarkey commented on #68
thanks @Arnavion
I got it, what about the defined styles changes?
it's a bit confusing to me about how i can set the "Maped" child object of each styles object.

[2016-02-19 07:47] Arnavion commented on #68
[ASS.styles](http://arnavion.github.io/libjass/api.xhtml#libjass.ASS.styles) is an [ES6 Map.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) You would use `ass.styles.get("Default")` and so on.

[2016-02-19 08:04] elBarkey commented on #68
I know it. The problem is when i tried the following  snippet.
[code]
then as you suggest above, i call the renderer.resize function.
but nothing changes at all!, then i realize that
[code]
still returning false. please point me to the right direction.

the same method i tried on dialogues array works fine, since its easy to mofidy regular array.

[2016-02-19 08:12] Arnavion commented on #68
As I said, you have to modify the private properties, so `defStyle._underline = true;` `underline` is just a getter, so trying to set it is a no-op.

[2016-02-19 08:16] elBarkey commented on #68
that's it, thanks @Arnavion
i didn't know it was that simple :cry:
thanks again for pointing me out.

[2016-02-19 08:16] #68 closed

[2016-02-20 02:25] elBarkey opened #69 "reverse construction of libjass.ASS object"
Hi @Arnavion
I've successfully manage some parsed libjass.ASS object properties to become editable. dialogues, timing, styles etc.
now i want to post the edited ASS object back to serverside.
is there any simple method i can use for this purpose ?

thanks

[2016-02-20 03:08] Arnavion commented on #69
libjass does have some code to serialize and deserialize Part objects between webworkers. The relevant functions are [serialize and deserialize.](https://github.com/Arnavion/libjass/blob/18b5d88/src/webworker/misc.ts#L60-L92) But a) these functions are not public, and b) the mechanism they use (set private properties and use Object.create to rehydrate getters) only works for types like parts with

[2016-02-20 04:11] elBarkey commented on #69
I see, i'm working on it.
thanks for clear the things out.

[2016-02-20 04:25] #69 closed

[2016-02-20 05:33] Arnavion commented on #69
With https://github.com/Arnavion/libjass/compare/d5831e6...a67ec29 I've implemented [libjass.serialize](https://arnavion.github.io/libjass/api.xhtml#libjass.serialize) and [libjass.deserialize](https://arnavion.github.io/libjass/api.xhtml#libjass.deserialize) that expose the API I linked above, and also extended to work with ASS objects. So `var str = libjass.serialize(ass);` will give you a strin

[2016-03-07 21:55] XCanG opened #70 "Wrong order in styles and wrong view of tiny border"
![image](https://cloud.githubusercontent.com/assets/1096010/13622963/e9a13688-e557-11e5-9142-061ff5e31e28.png)

At this moment shadow drop only text shadow, but need to drop text and border shadow, also a tiny cut first symbol at left (used font: BrushType).
Style:

[code]

Dialogue:

[code]

![image](https://cloud.githubusercontent.com/assets/1096010/13622968/f1a8402e-e557-11e5-85c8-d33d2ff4fdc0.

[2016-03-08 06:57] Arnavion commented on #70
For the second one with the small border, the issue is that the dilation SVG filter uses integer radii (on Chrome anyway) instead of decimals, so a 0.75 radius is treated as 0. So the border you see is actually the text with no border. That's why it's so thin. I *could* round  0.75 up to 1 in this case, which is still not accurate but does look better...

That's for the SVG renderer. The text shad

[2016-03-08 07:27] XCanG commented on #70
Oh, what the reason. So, yea, if border something like 0.05 or 0.5 or 0.99 it need to be lifted to 1. May be if border 1.4 it need to be downed to 1, if 1.5, 1.6... lift to 2.
Just only exception for non-border variant.

Hope first and third problems can be solved.

[2016-03-08 07:35] Arnavion commented on #70
I actually found a better way that keeps it accurate. feOffset filter does work with fractional values, so I can use it for the four corners of the outline.

[2016-03-09 09:02] Arnavion opened #71 "[demo] Ask user if their browser supports SVG filter effects, and set enableSvg accordingly"
Eg: Write some text in black and color it red with an SVG filter. Ask user if the text is red or black.

[2016-03-09 23:18] Arnavion commented on #70
That last commit should fix the first problem.

[2016-03-10 01:44] #70 closed

[2016-03-10 08:53] Arnavion opened #72 "Support \clip and \iclip"
- New flag on Dialogue - containsClipTag
- New property on PreRenderedSub - renderedPosition. null by default. Updated at some time after sub is drawn. (When? Can't do it in next renderer clock tick because it might be paused. Separate rAF timer?)
- Generate clip parameters using renderedPosition and persist on PreRenderedSub
- Set `visibility: hidden` on the sub meanwhile.
- Won't work for dialog

[2016-03-12 06:39] #57 closed

[2016-03-12 07:33] #49 closed

[2016-03-12 07:58] Arnavion commented on #48
Actually, the real behavior is more complex. The margin is always applied from the bottom of the viewport. If you have two subs in \an2 with vertical margin == 20px, then both will try to be 20px above the bottom of the viewport. Of course the second one cannot be there since it will overlap the first one, so it moves up till it's above the first one. (*)

Instead suppose one sub was \an2 with 20p

[2016-03-13 14:54] XCanG commented on #48
What about **calc()** function? May be use some algorithm co calculate heigh of stroke? (relative **%, vh** and fixed **px, other**)

[2016-03-14 22:28] Arnavion commented on #48
@XCanG Not sure I understand what you mean.

[2016-03-16 14:42] XCanG commented on #48
@Arnavion https://developer.mozilla.org/en/docs/Web/CSS/calc

[2016-03-16 15:37] XCanG commented on #71
@Arnavion you mean something like this? http://pastebin.com/PwBmitCG
If yes, worked both in Firefox, Chrome, Edge _(Windows 10 IE)_

[2016-03-16 21:49] Arnavion commented on #48
I know what calc is. I'm asking how you propose to use it to solve this problem.

[2016-03-16 21:49] Arnavion commented on #71
No. That applies SVG filters on SVG text, which is a different feature from SVG filters on HTML that libjass uses. But similar, yes.

[2016-03-16 22:03] XCanG commented on #48
Using negative order, for example:
first line subtitle will have position: top: 100%
when second line incoming
first stay at top: calc(100%-0) and second will be at top: calc(100%-30px)
when first finished second recalculating to 100%-0px

[2016-03-16 22:18] Arnavion commented on #48
Sure, but that requires knowing that the first is 30px high. If libjass knew that then it wouldn't need to use calc at all since it could just absolutely position everything...

[2016-03-16 22:27] XCanG commented on #48
In my idea this relative 100% calculating by one method, other fixed 30px calculated by another metod and both of them resolve problem.

As the backup I know other method, but it require wrapper, see example http://jsfiddle.net/b9hg3kag/1/ So, this method call the only problem with adding a lot of strokes (3 or more), but it also possible to sorting this lines.

[2016-03-16 22:33] XCanG commented on #48
For more 2 lines it will look like here: http://jsfiddle.net/b9hg3kag/2/

[2016-03-16 22:50] Arnavion commented on #48
Again, my point is that libjass doesn't know the height of the subs to be able to position things with calc. If it did know the height of the subs, then it wouldn't even need to bother with calc because it could just position everything absolutely.

[2016-03-16 23:07] XCanG commented on #48
Ok, but how about this example? If it can apply on subs lines.

[2016-03-20 06:21] #71 closed

[2016-03-20 06:33] Arnavion commented on #71
And FYI, [Edge doesn't support it yet either.](https://connect.microsoft.com/IE/feedback/details/2379118)

[2016-03-25 01:37] Arnavion opened #73 "Things to remove eventually"
For 1.0 or whatever.

- Setters for `libjass.debugMode`, `libjass.verboseMode`, `libjass.Set`, `libjass.Map`, `libjass.Promise` - must be set using `libjass.configure()`

- Deprecation notice in `ASS` constructor.

- Argument swapping in `WebRenderer` constructor.

- `DefaultRenderer.resizeVideo`

[2016-04-06 18:09] ericmatthys commented on #58
Sorry for the very late response. Here's a comparison between 0.10 an 0.11.

**0.10**
![screen shot 2016-04-06 at 12 08 14 pm](https://cloud.githubusercontent.com/assets/1154586/14327618/56f869f0-fbf0-11e5-876f-0362596c17cb.png)

**0.11**
![screen shot 2016-04-06 at 12 04 00 pm](https://cloud.githubusercontent.com/assets/1154586/14327616/54b299cc-fbf0-11e5-87c1-a11ffab56dc8.png)

[2016-04-06 18:20] Arnavion commented on #58
Your original example:

![image](https://cloud.githubusercontent.com/assets/1096010/14327907/49d2bffc-fbe9-11e5-9d88-6d0121728cfa.png)

Assuming your new one is `Did you <i>hear</i> that?` :

![image](https://cloud.githubusercontent.com/assets/1096010/14327943/7102e1c4-fbe9-11e5-8452-5438ff26a5a2.png)

[2016-04-06 18:32] Arnavion commented on #58
(Test it on https://arnavion.github.io/libjass/demo/ and see what you get.)

[2016-04-06 19:14] Arnavion opened #74 "Remove overflow: hidden from .libjass-wrapper"
It prevents scrollbars if the video is larger than the viewport.

It exists to hide the .libjass-font-measure divs when they're being used. Need to find another way to hide them, or atleast remove the `overflow: hidden` when they're not being used.

[2016-04-06 22:38] XCanG commented on #74
@Arnavion did you try this CSS rule?:
`clip: rect(Y1, X1, Y2, X2) | auto | inherit`
also analogs:
`clip-path: url(#clipping);` link to **svg** file with mask (may be placed in same document at the end)
[code]
`clip-path: polygon(0px 0px, X 0px, X Y, 0px Y);` or directly

`mask-image: url(mask.svg);` or again link to **svg** where black is opaque and white is transparent,
`mask: url(mask.svg) top l

[2016-04-06 23:03] Arnavion commented on #74
Yes, `clip` is also what I was thinking of.

[2016-04-06 23:14] Arnavion commented on #74
Right, now I remember. clips don't work because they affect visibility, not layout, so they don't solve the problem that `overflow: hidden` currently solves (that the font-measure divs don't affect layout of the rest of the page).

[2016-04-07 00:01] XCanG commented on #74
Hm, how about rendering on canvas?

[2016-04-07 00:03] Arnavion commented on #74
#13 especially the third comment

[2016-04-28 22:39] pushrbx opened #75 "Line height is incorrect in rotated text. Also \p1 is not renderred."
The ass code on Layer 1:
`{\an4\frz270\c&HF8F3F4&\3c&H585453&\alpha&H44&\bord1\blur0.333\fs21\b1\fscx90\fscy100\pos(701,130)}Satou felfedte a tervezett\Nbűntetteit az interneten, `
Ass code on Layer 0:
`{\p1\c&HDBD8D8&\1a&H6B&\fscx102\fscy100\blur0.333\frz89.85\pos(700,221)}m 0 0 l 195 0 l 195 60 l 0 60 l 0 0, `
Both of them are at the same frame number. (Start = 0:00:36.05 in the attached ass fil

[2016-04-29 01:27] Arnavion commented on #75
(\an4 is not supposed to be broken for for absolutely-positioned subs. Since your lines have \pos they're supposed to work.)

[2016-04-29 01:49] Arnavion commented on #75
The bug for the two text lines is that the transform-origin on the two lines is set to `50% 50%`. It should be set to `0% 50%`

[2016-04-29 18:45] pushrbx commented on #75
I've just tested it again and it doesn't even show it now and it stops displaying the subsequent dialogues. I was using the [demo site](http://arnavion.github.io/libjass/demo/index.xhtml).

[2016-04-29 18:49] pushrbx commented on #75
I've tested it again. Around that area in time where this transformed text takes place it stops displaying any other dialogues, also it doesn't show the background. I think it's because of the layers. Same video, same ass file. I was using the demo site.

[2016-04-29 19:03] Arnavion commented on #75
Yes, something broken with FF. Chrome is fine.

[2016-04-29 19:18] Arnavion opened #76 "Catch and log errors from renderer with explicit message"
As found in https://github.com/Arnavion/libjass/issues/75#issuecomment-215846383 , any errors from renderer.preRender() or renderer.draw() don't get logged with console.error, so users won't notice unless they have the browser console open and still may not realize it's a libjass bug. Also one dialogue throwing error prevents others in the same tick from being rendered as well.

Need to catch and

[2016-04-29 19:18] Arnavion opened #77 "svg.viewBox.baseVal is null in FF"
(Reported in https://github.com/Arnavion/libjass/issues/75#issuecomment-215846383 )

Refs:

https://bugzilla.mozilla.org/show_bug.cgi?id=785606

https://bugzilla.mozilla.org/show_bug.cgi?id=888307

[2016-04-29 19:18] Arnavion commented on #75
Will fix in #77

[2016-04-29 19:18] #75 closed

[2016-04-29 19:19] Arnavion opened #78 "Demo page should hook window "error" event"
In case any code path doesn't have explicit console.error reporting, unhandled errors should still be printed to the page console.

[2016-04-29 19:35] #77 closed

[2016-05-04 07:20] #76 closed

[2016-05-04 07:20] #78 closed

[2016-05-04 18:40] RinonNinqueon opened #79 "Negative coordinates in \p tag"
There's a problem, when you try to use negative coordinates in \p tag.
You can use it in SVG, but you need to set _viewBox_ attribute.
I changed **DrawingStyles.prototype.toSVG** function.
First find minimum value:
[code]

And then something like this:

[code]
It works, but looks still strange:
![yuurei_bad](https://cloud.githubusercontent.com/assets/6398441/15025099/7ce9f4b0-1259-11e6-9997-eb6ee2

[2016-05-04 19:02] Arnavion commented on #79
Did you test with master or 0.11.0 ? master has [this commit.](https://github.com/Arnavion/libjass/commit/1ac4fb2)

[2016-05-04 19:26] RinonNinqueon commented on #79
I got version from npm install --save libjass.
Now I compiled latest git version and have this:
![yuureibad_2](https://cloud.githubusercontent.com/assets/6398441/15026388/0cebf260-1260-11e6-919c-350bdc917c35.png)

[2016-07-20 17:23] ken-lofi opened #80 "strange thing happen with me using the last version of libjass"
hello guys... come back again to u with new problem

the problem about font size and border
it looks bigger with libjass v0.11 in my website and look correctly in demo page
![sans titre](https://cloud.githubusercontent.com/assets/14111009/16995815/97dc504c-4eae-11e6-8661-ee90062cb5ff.png)

and of course in my pc look smaller than this
script

; Script generated by Aegisub 3.2.2
; http://www.aegisu

[2016-07-20 18:30] Arnavion commented on #80
This issue was fixed by #46 which is in v0.11.0. But you're not using v0.11.0. Compare https://github.com/Arnavion/libjass/blob/v0.11.0/lib/libjass.css and http://3k.ae/video33/node_modules/libjass/libjass.css

[2016-07-25 13:31] ken-lofi commented on #80
the problem solved thanks to u
but thre another problem with border and shadow
it look more thick in libjass than vsfilter and libass

[2016-07-26 22:02] ken-lofi commented on #80
wait for u aranvion

[2016-08-25 18:12] kayone opened #81 "Current build breaks sourcemaps in older browsers,"

[2016-08-26 17:29] Arnavion commented on #81
The sourcemap maps the JS to the original TS. Same for the minified version.

I *personally* don't need it; I have no problem debugging JS. But rather than me removing it to cater to a buggy browser, perhaps you could strip it out on your end?

[2016-08-26 17:31] kayone commented on #81
I completely understand, that's what we do right now, however it means we can't use the NPM package anymore.

[2016-08-26 17:39] Arnavion commented on #81
Well I meant something like a build step, but I'll think about it.

[2016-08-26 17:43] kayone commented on #81
yeah, that was our next step, in case another library does something similar.

[2016-10-16 04:08] Vampireos opened #82 "How to insert a subtitle link?"
hi, prompt and have the opportunity to insert into the subtitles link?

[2016-10-16 04:34] Arnavion commented on #82
I don't understand what you mean.

[2016-10-16 11:38] XCanG commented on #82
May be he mean something like html code:
[code]
into subtitles, like making some ads, while user will watch the video.

[2016-10-16 22:19] Vampireos commented on #82
Yes, I'm talking about links like `<a href="http://site.com/..">Link name</a>`

[2016-10-16 22:23] Arnavion commented on #82
No, you cannot get libjass to render HTML in subtitles as HTML.

[2016-12-23 06:31] Statfine commented on #68
@Arnavion   how can i realtime changes/edit subtitle;  any method can parses _rawPartsString to _parts

[2016-12-23 06:59] Arnavion commented on #68
What exactly do you want to do? You want to change the raw string of a Dialogue?

[2016-12-23 08:03] Statfine commented on #68
@Arnavion   when i change first text
*{\an8}{\fs12}This is a sample ASS file\Nthat showcases some of libjass's capabilities.* to
*{\an8}{\fs12}This is a sample ASS file\N444*
i should first change _rawPartsString then according to the law change _parts
ass._dialogues[0]._rawPartsString = "{\an8}{\fs12}This is a sample ASS file\N44444.";
ass._dialogues[0]._parts[3]._value = '44444';
renderer.resize

[2016-12-23 08:27] Arnavion commented on #68
You don't need to do that. You have easier options depending on what you start with. Either

- If you want to change a part and not the original string - Create a new `Dialogue` object, remove the old one from `ass.dialogues` array and append the new one. You don't even need to call `renderer.resize()` since every new `Dialogue` has a unique ID.

or

- If you want to change a part and not the orig

[2016-12-23 08:28] Arnavion commented on #68
Note that the first option is the only supported option since the others use private API.

[2016-12-23 08:33] Statfine commented on #68
@Arnavion     first  thanks very much;  i think the first option is the conventional method; but how can i create a new Dialogue object , i used new libjass.Dialogue(template, ass) but no return

[2016-12-23 08:40] Arnavion commented on #68
(Oh, I remembered wrong - there's no way yet to construct a `Dialogue` from parts. You can only construct it from the template.)

Anyway if you have the template then `new Dialogue(ass, template)` will give you a `Dialogue` object. Then you have to add it to the script object with `ass.dialogues.push(newDialogue);`, or replace an existing one with `ass.dialogues.splice(5, 1, newDialogue);`, etc

[2016-12-23 08:51] Statfine commented on #68
￼
![wechatimg250](https://cloud.githubusercontent.com/assets/4608910/21450233/dd76990e-c92f-11e6-8848-383a99f67e37.jpeg)
sorry  what's wrong with me￼

[2016-12-23 08:53] Arnavion commented on #68
You forgot the `new`

[2016-12-23 08:59] Statfine commented on #68
@Arnavion  Thanks for your help. all is well 。

[2016-12-31 00:38] Teranode opened #84 "Font Rendering with @prefixed in front"
There's a problem where fonts has @ in front of their names and doesnt get loaded

Example:

http://prntscr.com/dpx2ba

[2016-12-31 02:48] Arnavion commented on #84
What exactly is the problem? Do you have an example page I can access?

[2016-12-31 03:10] Teranode commented on #84
I temporarily fixed it by doing this:

[code]

Basically, when its getting the FontName from the .ass file there are fonts with @ infront of the font name (like @Arial) this would lead to naming the font-family css selector "with" the @ symbol in front of the name.

[2016-12-31 03:31] Arnavion commented on #84
As far as I can tell every place that sets the font-family CSS property will quote the font name, so there shouldn't be a problem.

If your change makes it work, it sounds like even though the font file wants a font named `@foo` the actual font installed on your system is named `foo`. Is there some ASS feature that the `@` in font names is supposed to be ignored?

[2016-12-31 03:33] Arnavion commented on #84
Okay, I see there is some special meaning to leading `@` https://github.com/libass/libass/blob/master/libass/ass_parse.c#L107

[2016-12-31 10:31] Teranode commented on #84
so do i just leave my change?

[2017-01-03 21:55] Arnavion commented on #84
What you have will work. I think a better place to strip the leading `@` will be in `SpanStyles` when setting the CSS property (in case there is some reason to keep the `@` around for something else), but the end result will be the same for now.

[2017-01-10 06:10] Dador commented on #13
Hello from 2017 :) (my previous message was in 2015)
Inspired by that idea I have complied libass to JS using web workers and asm.js, https://github.com/Dador/JavascriptSubtitlesOctopus

[2017-01-10 06:44] Arnavion commented on #13
Nice.

[2017-01-10 22:55] Teranode commented on #13
its pretty good, was testing it on some devices and it likes to use a lot of memory when rendering on a few of them.

[2017-01-24 10:50] dariomadeira opened #85 "The worst example I saw"
I tried 5 times to create a player with libjass, the example is very bad, I need only an example in html where to change the src of video and src of ass and run!

[2017-02-17 03:42] Statfine commented on #59
@Arnavion   after download v0.11.0.zip and import libjass.js, it's show error "name.toLowerCase is not a function",  but i do not find it in libjass.js, how can i fix it

[2017-02-17 04:14] Arnavion commented on #59
You're asking a question in a completely unrelated issue because...?

[2017-02-17 05:10] Statfine opened #86 "name.toLowerCase is not a function"
when i import libjass.js from v0.11.0, it show "Module build failed: TypeError: /.../libjass.js: name.toLowerCase is not a function"; but i do not found toLowerCase in libjass.

[2017-02-17 05:45] Yay295 commented on #86
`toLowerCase` is a function available to strings by default in JavaScript. I'd guess that in this case `name` is not a string, though it is expected to be.

[2017-02-17 06:16] Arnavion commented on #86
The error is from whatever module loader or bundler you're using, not libjass.

[2017-02-17 10:27] Statfine commented on #59
after I used v0.11.0 and set BorderStyle = 3,but still no background???

[2017-02-17 10:32] #86 closed

[2017-02-17 10:43] Arnavion commented on #59
This issue is till open, yes.

[2017-04-03 21:51] rootboard opened #87 "Cannot read property 'appendItem' of undefined at DrawingStyles.toSVG"
Hello, I've got a problem in webkit browsers.

[code]

In FireFox and Edge everything works well.

Here is a part of the code from .ass file:
[code]
[code]

And here the script dies.

I will show you bellow a part of code from the same .ass file where everything is fine:
[code]

[code]

Can't really understand where the problem is.

[2017-04-04 00:30] Arnavion commented on #87
Already fixed by https://github.com/Arnavion/libjass/commit/93c24286266e1ecd9c48a9e0a4b1b9b822527bf6

[2017-04-04 07:41] rootboard commented on #87
You are right.

I think you should update release https://github.com/Arnavion/libjass/releases
Because I installed it from this and it made me confused.

Thank you very much for your reply.

[2017-04-04 08:39] Arnavion commented on #87
Well, you can probably see from commits that I haven't worked on this in almost a year. Too busy with other stuff...

It's probably best if you just build the latest master yourself.

[2017-04-04 08:39] #87 closed

[2017-04-11 06:56] XCanG opened #88 "Can't build libjass from latest"
I try to build it on Windows x64 and use nodejs for that.
What I do, in root folder execute commands:
`npm install typescript`
`npm install async`
`npm install async-build`
`npm install npm` *(that was require to build, because it not found)*
After that I run builder and it return that error
[code]
What I do wrong? And can you improve instructions in README.md by adding build sections with example

[2017-04-11 07:08] XCanG commented on #85
@dariomadeira did you saw that? https://github.com/Arnavion/libjass/issues/33#issuecomment-72072597

[2017-04-11 07:48] Arnavion commented on #88
You've somehow installed typescript that is newer than 2.0.10, because the things in the errors were removed in 2.1. I cannot repro because `npm install typescript` will still respect package.json and install 2.0.10, so seems you did something else.

Also, it's a normal npm package. You just need to run one `npm install` to install all the dependencies and run the build script. No need to install

[2017-04-11 12:54] XCanG commented on #88
Oh, running `npm install` create so many folders (193) in `node_modules` and automatically run building.
It build now but with some warnings
[code]
But I have `js` and `css` files into `\lib` now, so all is ok?

[2017-04-11 18:20] Arnavion commented on #88
Yes, warnings from `npm install` don't matter.

[2017-04-11 18:25] XCanG commented on #88
Ok. Issue may be closed.

*P.S. add that command (`npm install`) in guide (Readme.md). I think it will help for people, who don't know how to build.*

[2017-04-12 08:15] rootboard opened #89 "Renderer initialization just once"
Hello,

Would be great initialize a renderer just once and change subtitles (ASS object) without creating a new one renderer.

[2017-04-12 22:26] dariomadeira commented on #89
When I load my page for the first time it works correctly, when I reload the page again... it does not work ... I think it's the same problem.

[2017-04-14 11:29] rootboard commented on #89
@dariomadeira no it is not the same problem. I wrote about another thing.
If you have initialized renderer and want change subtitles with javascript, you can't do it.

[2017-04-14 12:03] dariomadeira commented on #89
I´m Sorry, you are right.

[2017-05-19 06:31] XCanG opened #90 "Does libjass have any function to change timing on a fly?"
The thing is I know website where libjass is used, also it have video and subtitles for it, but that subtitles are not syncronized (need add about +2 seconds to every line), I can't change any website resourses, but, will be great if I can call function from libjass what will automatically retime every line, something like `assObject.setTimeShifting(2000);` (+2000 ms, may be negative).

I check AP

[2017-05-19 06:41] Arnavion commented on #90
There's no public API for it. One workaround is that once you have the `ASS` object, you can iterate over each `Dialogue` in `ass.dialogues` and change its `_start` and `_end` private properties.

[code]

[2017-05-20 19:03] XCanG commented on #90
Will be something like that added in API or not?

[2017-06-25 15:29] dariomadeira opened #93 "If I update the page does not work."
I have a problem with libjass, when I load my page for the first time it shows the subtitles without problem, if I reload all web page the subtitles are not shown, but if I delete the browser cache and load the page again the subtitles are perfectly displayed.

http://gdurl.com/61GU

What to do ?:

`video{
	margin: 0 auto;
	padding: 0;
}
body{
	background-color:black;
}`

[code]

[2017-06-25 16:54] Yay295 commented on #93
What do you mean by "update"?

Also, please put your code in a `code block`. Just select it all and hit that button that looks like `<>`.

[2017-06-25 18:39] dariomadeira commented on #93
Apologies for my english!.... is reload all web page.... load page again

[2017-06-25 20:24] Arnavion commented on #93
I cannot reproduce.

Does it happen to you in just Chrome or every browser? If just Chrome, what version?

Share a link to your web page so I can see.

[2017-06-25 22:57] dariomadeira commented on #93
Hi, thanks for your help! this project I have in my PC, I have uploaded a functional example in:

https://drive.google.com/file/d/0B6MbnYNUNWmBb3h6S1pTbmt5Vjg/view?usp=sharing

My version of chrome is Version 59.0.3071.109 (Official build) (64 bits) and in firefox does not occur the error.

Sorry for the example, is what I found faster.

Look at the pictures:

http://gdurl.com/puk9

Thanks!!

[2017-06-26 00:38] dariomadeira commented on #93
I have an idea of what happens:
The first time, wait for the ASS download into the cache.

`var assLoadedPromise = libjass.ASS.fromUrl("https://myadresstoass/video.ass");`

When downloading:

[code]

The second time does not wait to download ASS file to cache, play video while downloading the ASS file...
When finish downloading it shows on screen, with fast connections is almost imperceptible.

I

[2017-06-26 00:48] Arnavion commented on #93
Nothing to do with that. It's because after soft reload the DefaultRenderer's div does not have dimensions set on it for some reason.

[2017-06-26 00:52] Arnavion commented on #93
Okay, it's because `video.videoWidth` is 0 when you call `renderer.resize(w, h)` so the scaling hits Infinity and NaN and blows up.

Move your `renderer.resize` call till after the video is loaded.

[2017-06-26 01:18] Arnavion commented on #93
Note that this is the same reason why the demo page waits for ASS *and* video metadata to be loaded before creating the renderer - https://github.com/Arnavion/libjass/blob/b1317311/demo/index.js#L351-L361

[2017-06-26 01:18] #93 closed

[2017-06-26 02:15] dariomadeira commented on #93
I'm sorry but I do not understand what's wrong, I mentioned earlier that it's the worst example I've seen because it's not simple and it's very complex.
For me a good example is a video, an ass and that runs all without resize problem.
When I said that they gave me the example: https://github.com/Arnavion/libjass/issues/33#issuecomment-72072597
Based on that example I made my code.
I do not unders

[2017-06-26 06:40] Yay295 commented on #93
This should work:

[code]

[2017-07-09 20:31] kozec opened #94 "Cannot read property 'fontMap' of undefined"
It appears that .settings property of WebRenderer is not being set anywhere, at least not before its first use at https://github.com/Arnavion/libjass/blob/master/src/renderers/web/renderer.ts#L150

My backtrace:
libjass.js:5904 Uncaught (in promise) TypeError: Cannot read property 'fontMap' of undefined
    at Object.WebRenderer (libjass.js:5904)
    at Object.DefaultRenderer (libjass.js:5176)

[2017-07-09 20:42] Arnavion commented on #94
https://github.com/Arnavion/libjass/blob/master/src/renderers/web/renderer.ts#L118
https://github.com/Arnavion/libjass/blob/master/src/renderers/null.ts#L47

[2017-07-11 01:47] deadxd opened #95 "Arnavion Help"
can you implements ASS format for Stremio-Addons the app is in Node.js ? Please
The Link: https://github.com/Stremio/stremio-addons
Referential Subtitle Srt and Vtt format: http://github.com/Stremio/stremio-opensubtitles
Only you can make this.

[2017-07-25 18:41] fmohican opened #96 "Any ideea?"
Typesettig ins't work, i mean mask with gradient and karaoke effect.

video.min.js:1 VIDEOJS: ERROR: TypeError: Cannot read property 'appendItem' of undefined
    at e.toSVG (drawing-styles.ts:68)
    at r.preRender (renderer.ts:781)
    at r.draw (renderer.ts:882)
    at r.e.Me (null.ts:165)
    at r.Me (renderer.ts:986)
    at e.<anonymous> (null.ts:50)
    at e.be (base.ts:60)
    at e.tick (ma

[2017-07-25 18:58] Arnavion commented on #96
Duplicate of #87

[2017-07-25 18:58] #96 closed

[2017-08-03 19:55] Yay295 opened #97 "implement smart line wrapping"
Implement the smart line wrapping styles (WrapStyle 0 and 3).

Per [spec](http://docs.aegisub.org/3.0/ASS_Tags/#wrapstyle), wrap style 0 tries the make the lines equal length, but ensures lines are never longer than the line above it. Wrap style 3 does the same, but shorter lines are on top. Note that libass seems to treat style 3 as if it were style 0, and uses style 1 if the line is too long (th

[2017-08-07 05:56] DoomTay opened #98 "Lines can be "pushed away" by other lines on the same layer"
An ASS file like this

[code]

will cause "righty" to be pushed out of frame when it and "lefty" should be next to each other.

[2017-08-16 16:35] DoomTay opened #99 "Lines are moved down when lines underneath it are removed"
For example

[code]

As soon as the first line of dialogue disappears, the second line of dialogue will move down to take its place

On, say, Aegisub on the other hand, the second line will stay in place.

[2017-08-16 17:17] Arnavion commented on #99
Huh. I was sure this was documented in the README as a known issue, but guess not.

[2017-08-18 11:59] ownerer opened #100 ""PlayResX" is not treated as optional! -> breaking"
Hi,

today I uncovered what I would categorize as a bug.
The [Emby media server](https://github.com/MediaBrowser/Emby) project uses your library to render subtitles without having to resort to transcoding.
However the bulk of my library failed to play.
Turns out that was because your library says my subtitles are malformed.
Emby has a fallback system in place that didn't work and should be fixed w

[2017-08-18 13:18] DoomTay commented on #100
If it helps any, here's what seems to be the unminified part of the source, based on searching for the error message

https://github.com/Arnavion/libjass/blob/e0c630038b9738fde8077d4cef38f2f547d08006/src/parser/stream-parsers.ts#L91-L116

[2017-08-18 14:20] ownerer commented on #100
@DoomTay : correct, that's the one :)

[2017-08-18 17:18] ownerer commented on #100
I don't have any rights to create a new branch for a suggested fix, so here is the code to replace the "if" on current line 102:

[code]

[2017-08-18 17:59] FichteFoll commented on #100
@ownerer the usual procedure is to fork the repository, create a branch in your fork and submit that with a PR.

[2017-08-18 18:30] Arnavion commented on #100
Just to be clear, the closest thing to an ASS "spec" or "standard" is the doc file (linked in the matroska page) that is incomplete in general, let alone that it doesn't say anything about the optionality of `PlayResX` / `PlayResY`.

The Wikipedia page is presumably talking about how it's implemented in existing renderers, so it's more de facto than de jure. (That's fine. I'm just saying it just i

[2017-08-18 18:46] ownerer commented on #100
Sure, I hear you on the whole standard thing, perhaps my choice of words was a bit harsh, fair enough.

So essentially you're saying the flow would change to:

1. parse ASS file into ASS object
2. return object to whoever requested it
3. requester sets resolution properties
4. pass to renderer?

The outcome of that would pretty much come down to the same thing I was suggesting, without making the

[2017-08-18 18:48] Arnavion commented on #100
Yeah, exactly. The requester in your case is the Emby library.

---

Also, the assert was introduced in [this commit](https://github.com/Arnavion/libjass/commit/1cefb68b47a56f12ccf0d01961127a4e1f7ecc75) that actually tried to catch scripts with no `Script Info` section. It would be good to check if this check is not required at all (ie scripts without `Script Info` are accepted by existing rendere

[2017-08-18 19:22] ownerer commented on #100
Well for this specific issue, I would suggest the following:

1. make the setting of the resolution properties public/the responsibility of the requester
2. change the assert to check for any property on the ASS object `properties` instead of checking for the resolution properties specifically, or better yet: add an extra flag in the parser that's set to `true` when whatever logic decides a `Scrip

[2017-08-18 19:32] Arnavion commented on #100
That is [already the case.](https://github.com/Arnavion/libjass/blob/e0c630038b9738fde8077d4cef38f2f547d08006/src/types/script-properties.ts#L49)

`ASS.properties` is always initialized to a `ScriptProperties`. To make it otherwise would require threading more state through the stream parser.

Yes, that is what I was talking about, and why I mentioned the fix needs to be robust against the case wh

[2017-08-20 08:20] ownerer commented on #100
Oh ok, my bad, I really haven't been very awake these last couple of days, I seem to be missing a lot of things :')

Well in that case I guess it really does just come down to adding that flag in the parser class?
Is this on the todo list then?

I took the liberty to test Emby in my case with 3 scenarios:

1. Both X and Y are set
2. Only Y is set
3. Neither is set

This to test your remark:

You c

[2017-08-20 09:02] Arnavion commented on #100
All open issues, including this one, are implicitly in an "Accepting PRs" state,

[2017-08-21 08:39] ownerer commented on #100
Which means...? I should make the change and PR it?

[2017-09-02 00:53] joshuabrown-ellation commented on #100
Should this library be hardened against .ass subtitle files that have zero for PlayerResX?  Would that also be a desired enhancement? @Arnavion @ownerer?  Seems like it's related to this topic, or should I create another issue?  The break it causes is dramatic, heats up computers, locks browsers, in some cases crashes the user computer.

[2017-09-02 00:59] joshuabrown-ellation commented on #85
@dariomadeira https://github.com/Arnavion/libjass/issues/33 covers the basics of using this library and gives good examples of minimum requirements to use libjass.  Probably be able to close this ticket as resolved if you checked that out.

[2017-09-02 03:26] Arnavion commented on #100
It gets into an infinite loop, I assume? Better to make another issue with a repro. The fix may or may not be the same as this one - depends on how (or if) vsfilter / libass handle it.

[2017-09-05 18:18] joshuabrown-ellation opened #101 "When PlayResX or PlayResY are defined as zero, tab crashes."
To reproduce:
- set the advanced substation subtitle (.ass) PlayResX or PlayResY property to 0 in Aegisub and save the file.  Or you can edit the .ass file directly, i.e. `PlayResX: 0`.
- use libjass to render that subtitle file via URL or by directly using the text of the .ass file.

Potential solution:
Line 346 of renderer.ts:
`		if (this.ass.properties.resolutionX === 0 || this.ass.properties.r

[2017-09-05 18:25] joshuabrown-ellation commented on #100
Per @Arnavion moving my question to new issue:  https://github.com/Arnavion/libjass/issues/101

[2017-09-05 18:41] Arnavion commented on #101
Relevant `PlayRes*` fixups in libass are at https://github.com/libass/libass/blob/6092e276de387133de4dfb17843a5d8d0b8de3f0/libass/ass.c#L1333

libjass should do the same.

[2017-10-12 03:18] nickfujita opened #102 "Unexpected style margin collisions"
Sample file:

[code]

Expected result (as rendered in Aegisub)
![image](https://user-images.githubusercontent.com/6342442/31477339-4d32781e-aec0-11e7-9d23-df0bf722a074.png)

Actual result
![image](https://user-images.githubusercontent.com/6342442/31477350-6237142c-aec0-11e7-89ab-f11886a0a71a.png)

When inspecting the rendered HTML/CSS it looks the style values for margins are being rendered to pos

[2017-10-12 03:38] Arnavion commented on #102
Duplicate of #48

[2017-10-12 03:38] #102 closed

[2017-10-12 04:10] nickfujita commented on #48
@Arnavion Thanks for quickly fielding issue #102 . I read through the thread, and it sounds like the tradeoffs at this point in time are to have the elements margins interact with one another or to have them overlap.

For example:
![image](https://user-images.githubusercontent.com/6342442/31478824-ea0c8c54-aec7-11e7-9251-193de5eac424.png)

So without fully resolving the issue, it seems that the le

[2017-10-12 04:30] Arnavion commented on #48
Making subs overlap if they have the same margin is strictly worse than showing them with more margin that necessary. The latter allows you to atleast read them.

[2017-10-12 18:06] nickfujita commented on #48
While I agree that in the cases where there are overlapping content that it is better to show the content offset instead of as shown in the example I previously provided, the assumption for the request that followed was that this would not occur. Assuming that the subtitles that I am looking to render were created in such a way that the above overlapping example would not occur, and I am encounter

[2017-10-12 18:36] Arnavion commented on #48
It is absolutely not a common scenario. The behavior your subs are trying to achieve is more commonly done by positioning one of the lines with `\pos` or `\an8`. In the case where two subs do have non-absolute positioning and the same alignment it's far more common for them to have the same small margin so that they're close to each other, such as the example in the OP.

I'm not saying that the cu

[2017-10-12 18:42] nickfujita commented on #48
Thanks for the tips on how to achieve the desired positioning in the subfile. Unfortunately I have no control over the content in the files, and am looking to find a solution to deal with the current state of the files I need to render.

The request is not to necessarily change the behavior outright, as I completely understand that there are others using the lib, and depend on it's current behavio

[2017-10-12 19:28] Arnavion commented on #48
If there is a PR with the option I will consider it. Alternatively you can look at https://github.com/Dador/JavascriptSubtitlesOctopus instead. With the direction browsers are moving in with respect to SVG rendering vs webasm, that library is the more likely future.

[2017-10-16 23:01] nickfujita commented on #48
Thanks for recommending JavascriptSubtitlesOctopus, I looked into it, and it seems a little too future for the browsers that I need to support. If now asm.js were supported more broadly. I supposed I will just have to look into modifications that I can make to the rendering approach to support absolute positioning with frame by frame collision detection on a local fork...

[2017-10-16 23:08] nickfujita opened #103 "\n being rendered in plain text, wrapping style 2"
It appears that even when in wrapping style 2 (No word wrapping, wide lines will extend beyound the edges of the screen. Both \n and \N force line breaks.), soft line breaks (\n) are being rendered as plain text rather than as a style.

Sample file:
[code]
Expected:
![image](https://user-images.githubusercontent.com/6342442/31639219-730d020a-b28c-11e7-80f2-27114f90abe2.png)

Actual:
![image](https

[2017-10-16 23:17] Arnavion commented on #103
Yes. #91 was opened with the fix but the author closed it for some reason. Feel free to open a new PR with that fix (plus what I said in the comment).

[2017-10-17 01:46] nickfujita commented on #103
@Arnavion PR ready for review:
https://github.com/Arnavion/libjass/pull/104

[2017-10-17 09:56] Dador commented on #48
BTW, what browsers you would like to support?
asm.js isn't really required so it'll work fine in IE (if support for usage without Service Worker will be added, because IE doesn't support Service Worker).

[2017-10-19 10:01] nickfujita commented on #48
@Dador Thanks for following up! I am looking to support the following:

Desktop
- IE
- Edge
- Firefox
- Chrome
- Safari

Mobile web iOS
- Safari
- Chrome

Mobile web Android
- Chrome
- Android browser

Native iOS
- WKWebView

Native Android
- webkit.WebView

[2017-10-20 12:25] nickfujita commented on #48
Migrating this discussion to [JavascriptSubtitleOctopus issue#14](https://github.com/Dador/JavascriptSubtitlesOctopus/issues/14)

[2017-10-24 07:07] #103 closed

[2017-10-24 12:59] nickfujita opened #105 "Request for new release"
Thanks for merging in https://github.com/Arnavion/libjass/pull/104.

Would it be possible to get a new release made and uploaded to NPM? I noticed that the last one was not done since January 2016? If not, then I can make other arrangements, but just wanted to reach out to see what your release cadence is.

[2017-10-24 16:52] Arnavion commented on #105
Unlikely that there'll be a new release. Most of the functional tests were broken last time I checked, and I don't plan on updating them.

Just use master.

[2017-10-25 11:49] nickfujita commented on #105
@Arnavion Thanks for confirming :)

[2017-10-25 11:49] #105 closed

[2017-11-07 20:12] DoomTay commented on #98
After some tinkering with HTML, I'm beginning to think setting the position of each "an group" to absolute might solve it

[2017-11-07 20:34] Arnavion commented on #98
Duplicate of #48

[2017-11-07 20:34] #98 closed

[2018-05-16 08:05] jokerrider007 opened #106 "How to crate subtitle from JSON Object ?"
I have a JSON object create by libjass.serializes function. Can I use this object to crate an ASS object and render it ? or Can i merge JSON object into ASS object ? I'm try to use ASS.fromJSON function and render it. but doesn't work.
This is my JSON object : https://jsfiddle.net/653wkmzx/

[2018-05-17 08:32] Arnavion commented on #106
What are you trying to do? `libjass.serialize` returns a string that is meant to be used with `libjass.deserialize`.

Even if you generate a blob with `JSON.parse(libjass.serialize(someASSObject))` and pass it to `libjass.ASS.fromJSON()`, it will not restore the prototypes of the inner objects. All the `fromJSON` functions are for internal use by `libjass.deserialize`.

If your intention is to ser

[2018-05-17 10:09] jokerrider007 commented on #106
Thank a lot @Arnavion for explain and give the way to resolve it.

[2018-05-17 10:09] #106 closed

[2018-05-30 01:29] jokerrider007 opened #107 "libjass.deserialize dialogue style changes not work"
Previously, I'm ask the way to generate ASS object from JSON object. I have some problem. The problem is when i try to change styles Map object generate from `libjass.deserialize`. Then call `render.resize()` style property in dialogue don't change.

<pre>
var result = libjass.deserialize(JSON.stringify(data));
var renderer = new libjass.renderers.DefaultRenderer(video, result);
renderer.resize(wi

[2018-05-30 05:36] DoomTay opened #108 "When playing preroll ads, sometimes the text appears very small"
[Sample set](https://github.com/SunnyLi/videojs-ass/files/2052491/heisenbug.zip)

This happens with a simple implementation of videojs-contrib-ads (heisenbug.html) and with videojs-vast-vpaid (heisenbug2.html), though the latter case is much, much rarer.

I noticed that when this happens, the style of span elements for subtitle lines are missing the font attribute. It seems that something about ho

[2018-05-30 09:15] Arnavion commented on #107
Yes, every `Dialogue` serializes its own copy of a `Style` object, so the deserialized `Dialogue` has an independent `Style` object unrelated to the one deserialized into `ASS.styles`.

One way to fix it is to to change `serialize()` to use an instance `toJSON()` if it exists (similar to how `deserialize` uses a static `fromJSON()` if it exists), and `Dialogue` should implement `toJSON` to only se

[2018-05-30 09:59] Arnavion commented on #108
As [the documentation](https://arnavion.github.io/libjass/api.xhtml#libjass.renderers.WebRenderer) says

However videojs is starting the clock before calling `resize`, thus `WebRenderer.preRender` is getting called while its `scaleX` and `scaleY` properties have not been uninitialized. videojs needs to fix this.

[2018-05-30 18:15] #108 closed

[2018-05-31 04:08] Arnavion commented on #107
I'll keep this open since it's a bug. You can unsubscribe from it if you don't want notifications.

[2018-06-01 09:48] lordfriend opened #109 "Why the npm package doesn't contains a type definition file."
First, thank you for creating this project. I just wonder why this project is written in Typescript but the package published at npm doesn't include a tsd file. I cannot directly use this lib without to create a type definition file by myself.

[2018-06-01 18:07] Arnavion commented on #109
The quirk with how this library is compiled is that it's written as modules but the release is a single JS object with everything loaded up-front. The eager-loading is intentional since a stable class-loading order is required to make the serialization-deserialization work across multiple loaded instances of the library.

I think I had tried SitePen/dts-generator once and it was not able to do thi

[2018-06-23 21:26] DoomTay opened #110 "Line-specific styles do not override style definitions"
With a file like this

[code]

Aegisub renders the line as 200px to the right, but libjass renders it in the middle

Now if the style's MarginL was, say, 250, then the line is offset by 500px

[2018-06-23 21:34] Arnavion commented on #110
Yes, the only properties parsed for Events are Style, Start, End, Layer and Text. So MarginL, MarginR and MarginV are ignored.

[2018-06-23 23:28] Yay295 commented on #110
or use the `\pos()` override

[2018-07-12 04:10] DoomTay opened #111 "\fad with a fadeout of 0 is treated as fading out for the duration of the line"
Example file:

[code]

According to the docs, the second number being 0 should mean that the line will end with no fading out, and that's how Aegisub treats it. Libjass, however, will have the line fade immediately for the duration of the line.

[2018-07-23 09:31] #111 closed

[2018-08-18 15:45] henke37 opened #113 "Opt-in support for command execution"
An obscure feature of ass files is that they can execute os level commands. This is obviously impossible and/or a huge security vulnerability on the web.

But why not allow the user to provide a callback that can handle commands as they please? Sorta like the `ExternalInterface` system the flash player used. This way advanced users can provide whatever support they like for all sorts of nonstandar

[2018-08-18 20:14] Arnavion commented on #113
What is your use case? Given that desktop renderers (libass, VSFilter) ignore `Command` events, I doubt anyone is writing a general-purpose script that has them.

[2018-10-06 09:08] aahmyu commented on #94
<img width="431" alt="image" src="https://user-images.githubusercontent.com/5700557/46569633-1f0c3980-c958-11e8-914f-b7c964e6c664.png">

Trying to implement this in an angular component and can't get it to work for the life of me :(

[2018-10-06 15:30] Arnavion commented on #94
`this.render = libjass.renderers.DefaultRenderer(...)` is missing a `new`

[2018-10-06 15:30] #94 closed

[2018-11-23 15:28] KingMario opened #114 "[Feature Request]Can you convert a .ass subtitle to VobSub format?"
Great Job!

Can you convert a .ass subtitle to VobSub format? Like HTML to Canvas to JPG/PNG and then to SubVob?

This would be very convenient to package a video with a VobSub subtitle if the .ass subtitle includes lines with special fonts may not be available in the viewer's computer.

Thanks.

[2018-11-23 18:54] Arnavion commented on #114
This sounds like it should be done with the program of your choice, rather than with javascript inside a browser running on your server.

This by itself shouldn't be a reason to not use .ass, since your user's browser probably supports web fonts.

[2018-11-24 14:13] KingMario commented on #114
Good points.

Actually, I'm looking for a local tool as a converter. Then I can package the VobSub subtitle to the video as a .mkv file. I've done lots of searches, but have found no handy tool to do it. I've only found a Son2VobSub tool is related.
During the way searching, I see many guys have the same requirement to save the existing fonts in subtitles.

If distributed online, using web fonts i

[2018-11-24 14:13] #114 closed

[2019-02-06 15:13] jokerrider007 opened #115 "dialogues ID will be created next to the last dialogues ID from previous object"
when I use libjass.ASS.fromUrl multiple time.  ASS object dialogues ID will be created next to the last dialogues ID from previous ASS object.

![capture1](https://user-images.githubusercontent.com/12674933/52350372-05404780-2a5b-11e9-960d-72c9e134a3ba.PNG)

![capture2](https://user-images.githubusercontent.com/12674933/52350465-3caef400-2a5b-11e9-9c37-eff81bd58154.PNG)

How can I get ASS object d

[2019-02-06 17:24] Arnavion commented on #115
It doesn't matter. The ID doesn't need to start from 0; it only needs to be unique.

[2019-02-06 18:08] jokerrider007 commented on #115
Can I clear object ID start to 0?
l need to each object dialogue start by 0 before storing to the database.

[2019-02-06 21:26] Arnavion commented on #115
If you're sure that you're going to only create and work with one `ASS` object at a time (ie you're not going to create `Dialogue` objects for multiple `ASS` at the same time), then you can set `Dialogue._lastDialogueId` to `-1` before creating the next `ASS` object. Every newly created `Dialogue` object sets its id to [`++Dialogue._lastDialogueId`](https://github.com/Arnavion/libjass/blob/ee97d1d

[2019-02-07 12:44] #115 closed

[2019-02-28 15:34] jokerrider007 opened #116 "when I create new dialogue can I get a dialogue class tag?"
relate from: [https://github.com/Arnavion/libjass/issues/106](https://github.com/Arnavion/libjass/issues/106)

I store my ASS object in the server and send ASS object to the client then I'm trying to add some new dialogue from the client and push dialog back to the server.

<pre>
let dialog = new window.libjass.Dialogue(new Map([
          ['Style', 'Default'],
          ['Start', 1],
          ['

[2019-02-28 18:08] Arnavion commented on #116
Yes it does. If you do `console.log(dialog._classTag);` you will see it.

[2019-03-18 07:45] #116 closed

[2019-06-04 15:56] qgustavor opened #117 "Update Typescript version"
The current Typescript version is returning this warning: `DeprecationWarning: Buffer() is deprecated due to security and usability issues.`

Trying to update to a newer version breaks the code:

[code]

Why Typescript is being extended by [compiler.ts](https://github.com/Arnavion/libjass/blob/ee97d1d0f31d6520bd558b37e298f2c2b88147a9/build/typescript/compiler.ts)? Is possible to rewrite [build.js]

[2019-06-04 16:28] Arnavion commented on #117
The build step uses the typescript compiler API rather than `tsc` directly to add JSDoc annotations to the output (`@constructor`, `@enum`, `@memberof`, etc) and for generating the docs, both of which require type information.

It also modifies the compiler output using UJS with some custom steps to strip multiple definitions of the compiler helpers like `__extends` and to minify better by renamin

[2019-06-04 17:15] qgustavor commented on #117
So I need to update the build step to use the new compiler API in order to make it work with the new Typescript version.

I don't know a lot about Typescript, but I tried running `npm install --save-dev typescript@latest; npx tsc --outfile lib\libjass.js src\index.ts` and it returned [those errors](https://gist.github.com/qgustavor/961387077e38bde03c38241860f12054) and no file. Am I missing someth

[2019-06-04 18:45] Arnavion commented on #117
To clarify what I said, the current script hooks into the compiler internals because "add JSDoc comments to the compiler output" is not something the compiler API supports. So it's almost certain it won't work without modification if you update the compiler, which is why you got the error that you got in the OP.

As you found, you need to give it the path of the project file (`tsconfig.json`), not

[2019-06-04 19:07] qgustavor commented on #117
I'm making a fork focused on subtitle parsing, modification and serialization. I used to work with [ass-parser](https://www.npmjs.com/package/ass-parser), but it's a bit feature lacking compared with libjass. I'm sure I would mess things if I tried to implement tag parsing myself - because [I already messed it](https://github.com/qgustavor/what-is-this-anime/blob/223c130ab026b26642e2fff387681e47cc

[2019-06-04 23:47] Arnavion commented on #117
In terms of priorities, the work is:

1. Update TS to current version, even if at the cost of not having custom build steps for docs or synthesized JSDoc comments.

1. Be able to build docs. IIRC this relies entirely on public TS compiler API, so it might still need to be updated but it won't be using any hacks.

1. Be able to synthesize JSDoc comments. As I said before, currently this uses hacks

[2019-06-05 22:01] qgustavor commented on #117
I'm trying to fix everything: started with a fresh clone, updated Typescript to latest version and tried fixing errors or commenting parts of the code until it compiles. By now it's compiling, but `Field ... has no @type annotation.`, `There are @param annotations ...` and `Unbound type parameter ...` are silenced (probably because TS API changed) and docs aren't building. If possible I will send

[2020-03-03 13:00] hntybr opened #118 "Serialize back to .ass"
Hi,
I really like you library but is there any way to go from ASS object back into an .ass file?

[2020-03-03 15:55] Arnavion commented on #118
No, you'd have to write it yourself.

[2020-03-14 02:33] #118 closed